@import "default/variables";
@import "default/mixins";

.search-wrapper {
  max-width: none !important;
}

@media (min-width: $screen-xs-min) {
  .breadcrumbs {
    .last-crumb {
      font-weight: 700;
      color: #212121;
    }
  }
  .col3-set {
    .column {
      width: 100%
    }
  }
  .header-top-container {
    background-color: transparent;
    img {
      display: table;
      margin: 0 auto;
    }
  }
  #search_mini_form {
    .input-text {
      border: 1px solid #cccccc;
      border-radius: 5px;
    }
    .button {
      background-color: #30AAAF !important;
      color: #FFFFFF;
      border-radius: 0px 5px 5px 0px;
    }
  }
  .mini-cart {
    .icon {
      position: relative;
      top: 6px;
      @include bgimg(null, 'mini-cart.png', null, null, center center);
      display: block !important;
      text-align: center;
      width: 34px;
      height: 35px;
      .count {
        background-color: transparent;
        padding: 11px 3px 11px 0px;
      }
    }
  }
  .products-grid {
    .item {
      img {
        display: table;
        margin: 0 auto;
      }
      .product-name {
        text-align: center;
        font-weight: 600;
      }
      .product-short-description {
        @include text('Arial', 14px, #a7a7a7, 400);
        /*	font-weight: 400;
            font-size: 14px;
            color: #CCCCCC;*/
      }
      .price-box {
        display: table;
        margin: 0 auto 15px;
        .old-price {
          float: left;
          font-size: 12px;
          font-weight: 600;
          padding-top: 18px;
          margin-right: 15px;
          .price-label {
            display: initial;
          }
        }
        .special-price, .regular-price {
          float: right;
          .price-label {
            display: none;
          }
          .price {
            font-size: 28px;
            color: #000000 !important;
            font-weight: 600;
          }
        }
      }
      .actions {
        .qty-wrapper {
          float: left;
          margin-right: 5px;
          .qty {
            border: 1px solid #019B9B;
            float: left;
            margin-right: 5px;
            width: 35px;
            height: 45px;
          }
          .buttons {
            float: left;
            position: relative;
            display: block;
            height: 45px;
            .btn-up {
              cursor: pointer;
              position: relative;
              top: 0px;
              left: 0px;
              background-color: #019B9B;
              border: 1px solid #019B9B;
              color: #FFFFFF;
              width: 20px;
            }
            .btn-down {
              cursor: pointer;
              position: absolute;
              bottom: 0px;
              left: 0px;
              border: 1px solid #019B9B;
              color: #019B9B;
              background-color: #FFFFFF;
              width: 20px;
            }
          }
        }
        .button {
          border-radius: 8px;
          float: left;
        }
        .btn-cart {
          background-color: #019B9B;
          color: #FFFFFF;
          &:hover {
            background-color: darken(#019B9B, 5%) !important;
          }
        }
      }
    }
  }
  .section.featured {
    /*border-bottom: 10px solid #D90000;*/
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
  #block-news {
    background-color: #00898F;
    .border-top {
      @include bgimg(null, 'border-top.png', repeat-x, nul, top left);
      width: 100%;
      height: 16px;
    }
    .border-bottom {
      @include bgimg(null, 'border-bottom.png', repeat-x, nul, top left);
      width: 100%;
      height: 16px;
    }
    .beleza-vip {
      display: table;
      margin: 15px auto;
    }
    .form-news {
      display: table;
      margin: 0 auto;
    }
    .title-news {
      @include text('Arial', 15px, #FFFFFF, 400);
      text-align: center;
      margin: 0px 0px 15px;
    }
    .input-box {
      display: table;
      margin-top: 0px;
      margin-bottom: 15px;
      .input-text {
        border-radius: 5px;
        font-size: 18px;
        @include placeholder(#CCC);
      }
    }
    .button {
      display: table;
      margin: 0 auto 15px;
      border-radius: 5px;
      background-color: #A2DDE3;
      text-transform: uppercase;
      color: #00898F;
    }
    .notice-news {
      display: table;
      margin: 0 auto 15px;
      @include text('Arial', 12px, #FFFFFF);
      text-align: center;
      a {
        @include text('Arial', 12px, #FFFFFF);
        text-decoration: underline;
      }
    }
  }
  .footer-container {
    background-color: #F8F8F8;
    a, p {
      /*@include text('Arial', , #888888);*/
      color: #888888;
      &.faq {
        font-size: 18px;
        border-bottom: 2px solid #00898F;
        /*text-decoration: underline;*/
        text-transform: uppercase;
        color: #00898F;
        margin: 0px 40px 40px;
        display: table;
      }
    }
    .likebox {
      margin: 30px 0px 0px;
      .btn-like {
        float: left;
        border: 2px solid #CBD2E2;
        background-color: #EAEBF0;
        color: #2F6098;
        font-size: 25px;
        padding: 15px 20px;
        border-radius: 5px;
      }
      .count {
        float: left;
        padding-left: 10px;
        font-size: 18px;
        color: #00898F;
        padding-top: 35px;
      }
    }
    .bandeiras {
      li {
        float: left;
      }
    }
    .heading-2 {
      font-size: 15px;
      color: #666666;
    }
    .social-links {
      li {
        float: left;
        a {
          @include transition(ease all 300ms);
          font-size: 45px;
          font-style: normal;
          color: #5A5A5A;
          margin: 0px 6px;
          &:hover {
            @include transition(ease all 300ms);
          }
          &.facebook {
            margin-left: 0px;
            &:hover {
              color: #4267B2;
            }
          }
          &.twitter {
            background-color: #5A5A5A;
            color: #FFFFFF;
            border-radius: 50%;
            display: block;
            width: 45px;
            height: 45px;
            position: relative;
            margin-top: 8px;
            .fa {
              font-size: 30px;
              position: absolute;
              top: 8px;
              left: 10px;
            }
            &:hover {
              background-color: #1DA1F2;
            }
          }
          &.youtube {
            background-color: #5A5A5A;
            color: #FFFFFF;
            border-radius: 50%;
            display: block;
            width: 45px;
            height: 45px;
            position: relative;
            margin-top: 8px;
            .fa {
              font-size: 28px;
              position: absolute;
              top: 8px;
              left: 11px;
            }
            &:hover {
              background-color: #C8302F;
            }
          }
          &.instagram:hover {
            color: #8a3ab9;
          }
          &.pinterest {
            margin-right: 0px;
            &:hover {
              color: #cd2029;
            }
          }
        }
      }
    }
    .secure {
      li {
        float: left;
      }
    }
  }
  .footer-bottom-container {
    background-color: tranparent;
  }
  .footer-copyright {
    text-align: center;
    font-size: 12px;
    color: #888888;
  }
  #scroll-to-top {
    bottom: 100px;
  }
  .product-view {
    .box-related, .block-upsell{
      .product-name{
	font-size: 15px;
      }
    }
    .product-name {
      font-size: 22px;
    }
    .availability {
      float: none;
      text-align: right;
      /*margin-bottom: 10px;*/
    }
    .product-type-data {
      /*margin-bottom: 10px;*/
    }
    .price-box {
      .old-price {
        float: left;
        margin-right: 10px;
        margin-top: 7px;
        .price-label {
          display: block;
        }
        .price {
          font-size: 20px !important;
          color: #939498 !important;
        }
      }
      .special-price {
        float: left;
        .price-label {
          display: none;
        }
        .price {
          font-size: 28px !important;
          color: #231F20 !important;
          font-weight: 600;
        }
      }
    }
    .product-options {
      p.required {
        position: initial;
      }
    }
    .add-to-cart {
      .qty-wrapper {
        float: left;
        margin-right: 10px;
        .qty {
          border: 1px solid #019B9B;
          float: left;
          margin-right: 10px;
          width: 55px !important;
          height: 55px !important;
        }
        .qty-buttons-wrapper {
          float: left;
          position: relative;
          display: block;
          /*height: 45px;*/
          .qty-button {
            &.increase, &.decrease {
              &:before {
                display: none;
              }
            }
            &.increase {
              cursor: pointer;
              background-color: #019B9B;
              border: 1px solid #019B9B;
              color: #FFFFFF;
              width: 24px;
              height: 24px;
              margin-bottom: 3px;
            }
            &.decrease {
              cursor: pointer;
              border: 1px solid #019B9B;
              color: #019B9B;
              background-color: #FFFFFF;
              width: 24px;
              height: 24px;
            }
          }
        }
      }
      .btn-cart {
        @include transition(ease all 300ms);
        float: left;
        background-color: #069A9A;
        border-radius: 8px;
        text-transform: uppercase;
        font-size: 23px;
        line-height: normal;
        padding: 14px 12px;
        width: auto;
        min-width: auto;
        &:hover {
          @include transition(ease all 300ms);
          background-color: darken(#069A9A, 5%) !important;
        }
      }
    }
    .add-to-links {
      li {
        width: 28.7%;
        margin: 0px;
        padding: 0px 5px;
      }
      a {
        @include transition(ease all 300ms);
        display: block;
        text-align: center;
        &:hover {
          @include transition(ease all 300ms);
          color: #019b9b;
        }
      }
      .ib {
        @include transition(ease all 300ms);
        background-color: #EDEDED;
        color: #333333;
        display: table;
        margin: 0 auto !important;
        float: none;
        &:hover {
          @include transition(ease all 300ms);
          background-color: #019b9b !important;
          color: #FFFFFF;
        }
      }
    }
    .product-secondary-column {
      .container_product_secondary_2 {
        ul {
          li {
            display: table;
            margin-bottom: 10px;
            font-size: 15px;
            color: #6C6C6C;
            padding: 10px 0px;
            .mark {
              display: block;
              float: left;
              width: 41px;
              max-height: 41px;
              background-color: #069A9A;
              border-radius: 50%;
              color: #FFFFFF;
              text-align: center;
              padding: 10px 0px;
              margin: -9px 20px -9px 0px;
            }
          }
        }
      }
    }
  }
  .checkout-cart-index {
    .main {
      background-color: #f8f8f8;
    }
    .title {
      font-size: 20px;
      padding: 12px 0px;
      display: table;
      margin: 0 auto;
      float: none;
    }
    .checkout-types.top {
      .btn-continue, .btn-checkout {
        display: none;
      }
    }
    .header-cart {
      li {
        display: table;
        margin: 0 auto;
      }
    }
    .cart-table-wrapper {
      border-top: 1px solid #cccccc !important;
      tr {
        .a-center {
          > * {
            display: table;
            margin: 0 auto;
          }
        }
        .block-qty {
          label {
            font-size: 12px;
            font-weight: 300;
          }
          .qty-wrapper {
            position: relative;
            .qty {
              border: 1px solid #019B9B;
              float: left;
              margin-right: 5px;
              width: 40px !important;
              height: 43px;
            }
            .buttons {
              float: left;
              position: relative;
              display: block;
              height: 43px;
              .btn-up {
                cursor: pointer;
                position: relative;
                top: 0px;
                left: 0px;
                background-color: #019B9B;
                border: 1px solid #019B9B;
                color: #FFFFFF;
                width: 20px;
              }
              .btn-down {
                cursor: pointer;
                position: absolute;
                bottom: 0px;
                left: 0px;
                border: 1px solid #019B9B;
                color: #019B9B;
                background-color: #FFFFFF;
                width: 20px;
              }
            }
          }
        }
        .btn-remove {
          font-size: 12px;
          color: #ADADAD;
          display: block;
          margin-bottom: 10px;
          width: auto;
          &:hover {
            text-decoration: undeline;
          }
          &:before {
            display: none;
          }
        }
        .sku {
          font-size: 10px;
          color: #ADADAD;
        }
        .prices {
          li {
            display: inline-block;
            width: 100%;
            font-size: 15px;
            padding: 10px 0px;
            &.price-individual {
              color: #787878;
            }
            &.price-subtotal {
              color: #515151;
              font-weight: 600;
              border-top: 1px solid #cccccc;
            }
            .label {
              float: left;
            }
            .cart-price {
              float: right;
            }
          }
        }
      }
      .product-image {
        display: table;
        margin: 0 auto;
      }
      .product-name {
        font-size: 18px;
        margin-bottom: 15px;
      }
      p {
        font-size: 14px;
        margin-bottom: 15px;
      }
    }
    .cart-collaterals {
      .grid-full.alpha.omega {
        margin: 0px;
      }
      label {
        font-size: 13px;
        color: #7d7d7d;
        margin-bottom: 2px;
      }
      .input-text {
        border-radius: 5px;
        border: 1px solid #cccccc;
        color: #a0a0a0;
      }
      .buttons-set {
        width: 35%;
        float: right;
        margin: 0px;
        clear: none;
        .button {
          width: 100%;
          min-width: auto;
        }
      }
      .discount {
        display: table;
        .input-box {
          width: 61%;
          float: left;
        }
        .button {
          border-radius: 5px;
          background-color: #999999;
          border-bottom: 2px solid #7f7f7f;
          text-transform: uppercase;
          line-height: normal;
          padding: 8px 0px;
          line-height: normal;
          padding: 8px 0px;
          width: 100%;
          min-width: auto;
          font-size: 14px;
        }
        .btn-cancel {
          margin-top: 10px;
        }
      }
      .shipping {
        .form-list {
          width: 61%;
          float: left;
        }
        label {
          font-size: 13px;
          color: #7d7d7d;
          font-weight: 400;
        }
        .buttons-set {
          margin-top: 20px;
          .button {
            border-radius: 5px;
            background-color: #2BB4BA;
            border-bottom: 2px solid #149DA3;
            text-transform: uppercase;
            line-height: normal;
            padding: 8px 0px;
            line-height: normal;
            padding: 9px 0px;
            width: 100%;
            min-width: auto;
            font-size: 14px;
          }
        }
        .busca-cep {
          @include transition(ease all 300ms);
          font-size: 12px;
          color: #33BAC0;
          float: right;
          margin-top: 10px;
          &:hover {
            @include transition(ease all 300ms);
            text-decoration: underline;
          }
        }
        .btn-update {
          border-radius: 5px;
          background-color: #2BB4BA;
          border-bottom: 2px solid #149DA3;
          text-transform: uppercase;
          line-height: normal;
          padding: 8px 0px;
          line-height: normal;
          padding: 8px 0px;
          width: 100%;
          min-width: auto;
          font-size: 14px;
        }
        .sp-methods {
          background-color: #e2e2e2;
          padding: 15px;
          margin-bottom: 15px;
          .price {
            display: table;
            margin: 0 auto;
          }
        }
      }
      .totals {
        margin-top: 15px !important;
        .totals-inner {
          padding: 0px;
        }
        .totals-table {
          background-color: #e2e2e2;
          padding: 15px;
        }
        td {
          padding: 0px;
        }
      }
    }
    .checkout-types {
      .button {
        border-radius: 5px;
        text-transform: uppercase;
        line-height: normal;
        padding: 8px 0px;
        line-height: normal;
        padding: 10px 0px;
        height: auto;
        min-width: auto;
        font-size: 14px;
        text-align: center;
      }
      .btn-checkout {
        background-color: #2BB4BA;
        border-bottom: 2px solid #149DA3;
        width: 100%;
      }
      .btn-continue {
        display: block;
        background-color: #FFFFFF;
        border: 2px solid #01848C;
        color: #2BB4BA;
        font-weight: 600;
      }
    }
  }
  .onestepcheckout-index-index {
    #onestepcheckout-authentification {
      min-height: auto;
      #onestepcheckout-authentification-container {
        height: auto !important;
      }
    }
    .btn-link {
      @include transition(ease all 300ms);
      border: 0px;
      text-decoration: underline;
      background-color: transparent;
      color: #919da9;
      float: right;
      cursor: pointer;
      margin: 0px;
      font-size: 12px;
      &:hover {
        @include transition(ease all 300ms);
        color: #3281d4;
      }
    }
    .modal-backdrop {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1040;
      background-color: #000;
      @include opacity(0.5);
    }
    .modal {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1050;
      /*display: none;*/
      /*overflow: hidden;*/
      -webkit-overflow-scrolling: touch;
      /*outline: 0;*/
      opacity: 1;
      .modal-dialog {
        position: relative;
        width: auto;
        margin: 10px;
        width: 300px;
        margin: 30px auto;
        -webkit-transition: -webkit-transform .3s ease-out;
        -o-transition: -o-transform .3s ease-out;
        transition: transform .3s ease-out;
        -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
        -o-transform: translate(0, -25%);
        transform: translate(0, -25%);
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        .modal-content {
          position: relative;
          background-color: #fff;
          -webkit-background-clip: padding-box;
          background-clip: padding-box;
          border: 1px solid #999;
          border: 1px solid rgba(0, 0, 0, .2);
          border-radius: 6px;
          outline: 0;
          -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
          box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
          padding: 15px;
          .close {
            position: absolute;
            top: 18px;
            right: 15px;
            width: 18px;
            color: #CCCCCC;
            border: 0px;
            cursor: pointer;
            background-color: transparent;
            &:hover {
              color: #444444;
            }
          }
          .modal-title {
            display: block;
            clear: left;
            font-size: 20px;
            font-weight: 600;
            color: #333333;
            padding: 0px 0px 10px;
            border-bottom: 1px solid #cccccc;
            margin-bottom: 10px;
          }
          .onestepcheckout-auth-form-block {
            width: 100%;
            padding: 0px;
            margin-bottom: 15px;
            &:last-child {
              margin-bottom: 0px;
            }
            .input-box, .input-text {
              width: 100%;
            }
          }
          .btn-link {
            float: left;
            padding: 13px 0px;
            margin: 0px;
          }
          .btn-submit {
            float: right;
          }
        }
      }
    }
    .onestepcheckout {
      .step-title {
        background-color: #01858A;
        padding: 10px;
        &:hover {
          background-color: #01858A;
        }
        .number {
          background-color: transparent;
          font-size: 15px;
          font-weight: 600;
          color: #FFFFFF;
          padding: 0px 0px;
          margin: 0px;
        }
        h2 {
          font-size: 15px;
          font-weight: 600;
          color: #FFFFFF;
          line-height: normal;
          margin-left: 5px;
        }
      }
      .step {
        padding: 0px;
        margin: 0px;
      }
      .box {
        border: 1px solid #eeeeee;
        padding: 10px;
        margin-bottom: 15px;
        .step-title {
          margin: 0px 0px 0px;
        }
        li {
          margin: 0px;
        }
        .field {
          width: 100%;
          margin-bottom: 10px;
          label {
            float: left;
            margin: 0px;
            padding: 8px 0px;
            font-weight: 400;
            font-size: 14px;
          }
          .input-box {
            float: right;
            width: 58%;
            clear: none;
            .input-text, select {
              width: 100%;
              margin: 0px;
            }
          }
          .dob-day {
            width: 61px;
          }
          .dob-month {
            width: 66px;
          }
          .dob-year {
            width: 71px;
          }
          .nao-sei-cep {
            padding: 0px;
            float: right;
            margin: 0px;
          }
        }
      }
      .input-text {
        border-radius: 5px;
      }
      #onestepcheckout-review-car {
        padding: 0px;
      }
      .onestepcheckout-cart-table {
        /*	tfoot{
              background-color: #EFEFEF;
            }*/
        /*	tr.subtotal{
              display: none;
            }*/
        .lc-thumbnails {
          width: 80px;
        }
        .product-details {
          width: 160px;
        }
        .product-name {
          font-size: 14px;
        }
        .product-price {
          width: 80px;
        }
        .text-gray {
          font-size: 12px;
          color: #878787;
          margin-bottom: 5px;
          line-height: normal;
        }
        .cart-price {
          font-weight: 600;
          text-align: right;
        }
        tbody {
          tr {
            td {
              border-bottom: 1px solid #eeeeee;
              padding: 8px;
            }
            &:last-child {
              td {
                border-bottom: 0px;
              }
            }
          }
        }
      }
      .coupon-code-form {
        label {
          font-size: 13px;
          color: #7d7d7d;
          margin-bottom: 2px;
        }
        .input-box {
          width: 100% !important;
          .input-text {
            width: 71% !important;
            margin-right: 5px;
          }
          .button {
            border-radius: 5px;
            background-color: #999999;
            border-bottom: 2px solid #7f7f7f;
            text-transform: uppercase;
            line-height: normal;
            padding: 8px 0px;
            line-height: normal;
            padding: 8px 0px;
            width: 95px;
            min-width: auto;
            font-size: 14px;
          }
        }
      }
      .btn-checkout {
        border-radius: 5px;
        text-transform: uppercase;
        line-height: normal;
        line-height: normal;
        padding: 11px 0px;
        height: auto;
        min-width: auto;
        font-size: 14px;
        text-align: center;
        background-color: #2BB4BA;
        border-bottom: 2px solid #149DA3;
        width: 100%;
      }
      .block-totals {
        margin-bottom: 15px;
        padding: 15px;
        background-color: #EFEFEF;
        .totals {
          width: 100%;
        }
      }
      #onestepcheckout-order-review-coupon-wrapper {
        margin-bottom: 15px;
      }
    }

  }
  .contacts {
    display: table;
    margin: 15px 0px;
    li {
      float: left;
      .icon {
        display: block;
        float: left;
        margin-right: 10px;
        width: 33px;
      }
      .text {
        float: left;
        width: 235px;
        h4 {
          font-size: 15px;
          color: #0C656D;
          margin: 0px;
        }
        p {
          color: #212121;
          font-size: 15px;
          margin: 0px;
        }
      }
    }
  }

  .faq {
    .page-title {
      h1 {
        @include text('Arial', 18px, #212121, 400);
        margin: 20px 0px;
      }
    }
    .faq-content {
      #accordion {
        li {
          margin-bottom: 5px;
          border: 1px solid #ececec;
          .toggle-accordion {
            @include transition(ease all 300ms);
            @include text('Arial', 15px, #333333, 400);
            display: block;
            padding: 10px 15px;
            background-color: #FFFFFF;
            .fa {
              float: right;
              font-size: 18px;
              color: #CCCCCC;
            }
            &:hover, &.opened {
              @include transition(ease all 300ms);
              background-color: #f3f3f3;
            }
          }
          .collapse {
            border-top: 1px solid #ececec;
            padding: 10px 15px;
          }
        }
      }
    }
    .column-main {
      .subtitle {
        @include text('Arial', 18px, #212121, 400);
        text-align: center;
        margin: 0px 0px 15px;
      }
    }
    .faq-categories {
      margin-top: 20px;
      border: 1px solid #ececec;
      @include box-shadow(0px 2px 0px 0px #ececec);
      li {
        &:last-child {
          a {
            border-bottom: 0px;
          }
        }
        a {
          @include transition(ease all 300ms);
          @include text('Arial', 15px, #333333, 400);
          display: block;
          padding: 10px 15px;
          background-color: #FFFFFF;
          border-bottom: 1px solid #ececec;
          &:hover {
            @include transition(ease all 300ms);
            background-color: #f3f3f3;
          }
          .fa {
            float: right;
            font-size: 18px;
            color: #CCCCCC;
          }
        }
      }
    }
  }
  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    @include opacity(0.5);
  }
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    opacity: 1;
    .modal-dialog {
      position: relative;
      width: auto;
      margin: 10px;
      width: 300px;
      margin: 30px auto;
      -webkit-transition: -webkit-transform .3s ease-out;
      -o-transition: -o-transform .3s ease-out;
      transition: transform .3s ease-out;
      -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
      -o-transform: translate(0, -25%);
      transform: translate(0, -25%);
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
      .modal-content {
        position: relative;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #999;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 6px;
        outline: 0;
        -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
        box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        padding: 15px;
        .close {
          position: absolute;
          top: 18px;
          right: 15px;
          width: 18px;
          color: #CCCCCC;
          border: 0px;
          cursor: pointer;
          background-color: transparent;
          &:hover {
            color: #444444;
          }
        }
        .modal-title {
          display: block;
          clear: left;
          font-size: 20px;
          font-weight: 600;
          color: #333333;
          padding: 0px 0px 10px;
          border-bottom: 1px solid #cccccc;
          margin-bottom: 10px;
        }
        .onestepcheckout-auth-form-block {
          width: 100%;
          padding: 0px;
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0px;
          }
          .input-box, .input-text {
            width: 100%;
          }
        }
        .btn-link {
          float: left;
          padding: 13px 0px;
          margin: 0px;
        }
        .btn-submit {
          float: right;
        }
      }
    }
    &.modal-message {
      .modal-dialog {
        .content {
          .modal-title {
            display: table;
            border-bottom: 0px;
            .fa {
              color: #019B9B;
              margin-right: 5px;
              font-size: 30px;
              float: left;
            }
            span {
              float: left;
              @include text('Arial', 15px, #000000, 600, uppercase);
              max-width: 85%;
            }
          }
          .product-name {
            @include text('Arial', 15px, #737373, 100);
            text-align: center;
          }
          .btn-checkout {
            background-color: #019B9B;
            padding: 10px;
            text-decoration: none;
            border-radius: 5px;
            display: table;
            margin: 15px auto;
            text-align: center;
            line-height: normal;
            @include text('Arial', 14px, #FFFFFF, 600, uppercase);
          }
          .btn-continue {
            text-align: center;
            color: #019B9B;
            display: table;
            margin: 0px auto 15px;
            text-align: center;
          }
        }
      }
    }
  }

  .social-login {
    .btn-social {
      display: block;
      margin-bottom: 5px;
      a {
        @include transition(ease all 300ms);
        display: table;
        width: 282px;
        background-color: #dedede;
        @include text('Arial', 12px, #FFFFFF, 400, uppercase);
        border-radius: 5px;
        @include box-shadow(0px 0px 0px 0px #CCCCCC inset);
        .fa {
          width: 35px;
          font-size: 14px;
          border-right: 1px solid #CCCCCC;
          text-align: center;
          margin-right: 10px;
          padding: 12px 0px;
        }
        span {
          padding: 12px;
          padding-left: 0px;
        }

        &.btn-facebook {
          background-color: #4765AD;
          @include box-shadow(0px -2px 0px 0px darken(#4765AD, 11%) inset);
          .fa {
            border-color: lighten(#4765AD, 11%);
          }
        }
        &.btn-google {
          background-color: #DB4437;
          @include box-shadow(0px -2px 0px 0px darken(#DB4437, 11%) inset);
          .fa {
            border-color: lighten(#DB4437, 11%);
          }
        }
        &.btn-twitter {
          background-color: #1DA1F2;
          @include box-shadow(0px -2px 0px 0px darken(#1DA1F2, 11%) inset);
          .fa {
            border-color: lighten(#1DA1F2, 11%);
          }
        }
        &.btn-linkedin {
          background-color: #0077B5;
          @include box-shadow(0px -2px 0px 0px darken(#0077B5, 11%) inset);
          .fa {
            border-color: lighten(#0077B5, 11%);
          }
        }
      }
    }
  }

  .customer-account-login, .customer-account-create {
    background-color: #f8f8f8;
    .logo {
      width: 230px;
      display: table;
      margin: 0 auto 20px;
    }
    .block {
      display: table;
      margin: 0 auto;
      .account-login.box {
        background-color: #FFFFFF;
        padding: 35px 20px;
        border: 1px solid #efefef;
        border-radius: 5px;
        margin-bottom: 15px;
        @include box-shadow(0px 1px 1px 1px #eaeaea);
        max-width: 350px;
        .page-title {
          margin: 0px 0px 20px;
          h1 {
            @include text('Arial', 15px, #00858C, 700, uppercase);
            text-align: center;
            margin: 0px;
          }
        }
        form {
          display: table;
        }
        .ced-sociallogin-login {
          margin: 0px;
        }
        p {
          @include text('Arial', 15px, #cccccc);
          text-align: center;
          font-style: italic;
          margin: 25px 0px;
        }
        label {
          @include text('Arial', 14px, #777777);
        }
        .input-text {
          width: 100%;
          border-radius: 3px;
          margin-bottom: 15px;
        }
        .lost-password {
          @include text('Arial', 12px, #777777, 100);
          float: right;
          &:hover {
            text-decoration: underline;
          }
        }
        .form-list {
          li {
            margin: 0px;
          }
        }
        .btn-submit {
          display: table;
          width: 200px;
          margin: 0 auto;
          padding: 13px 0px;
          background-color: #1DB4BB;
          @include text('Arial', 12px, #FFFFFF, 400, uppercase);
          border-radius: 5px;
          @include box-shadow(0px -2px 0px 0px darken(#1DB4BB, 11%) inset);
        }
        .registered-users {
          margin: 0px;
        }
        p.required {
          margin: 0px;
          text-align: right;
          font-size: 12px;
          position: relative;
          top: 20px;
        }
      }
      .new-users{
        padding: 0px 5px;
        margin: 0px 0px 50px;
        p{
          float: left;
          @include text('Arial', 14px, #777777);
          margin:13px 0px;
        }
        .btn-new{
          @include text(null, 12px, #03747A, 700, uppercase);
          border: 2px solid #03747A;
          border-radius: 8px;
          padding: 11px;
          float: right;
        }
      }
    }
    .footer{
      background-color: #f4f4f4;
      padding: 30px 0px;
      color: #999999;
      a{
        @include text('Arial', 13px, #999999);
      }
    }
  }

  .products-grid .product-image-wrapper {
    height: 350px;
    display: table;
    overflow: hidden;
  }
  .products-grid .product-image {
    display: table-cell;
    vertical-align: middle;
  }
}

@media (min-width: $screen-sm-min) {
  .col3-set {
    .column {
      width: 49%
    }
  }
  .mini-cart {
    .icon {
      float: left;
      .count {
        top: 7px;
      }
    }
    .label {
      float: left;
      padding: 17px 0px;
    }
  }
  #block-news {
    .beleza-vip {
    }
    .form-news {
    }
    .title-news {
    }
    .input-box {
      margin-right: 15px;
    }
    .button {
    }
    .notice-news {
    }
  }
  .product-view {
    .price-box {
      .old-price {
        margin-right: 10px;
        margin-top: 20px;
        .price {
          font-size: 20px !important;
        }
      }
      .special-price {
        .price {
          font-size: 32px !important;
        }
      }
    }
    .add-to-links {
      li {
        width: 29.9%;
        margin: 0px;
        padding: 0px 5px;
      }
    }
  }
  .checkout-cart-index {
    .col-1 {
      width: 14%;
    }
    /*.col-2{width: %;}*/
    .col-3 {
      width: 20%;
    }
    /*.col-6{width: %;}*/
    .page-title {
      .title {
        float: left;
      }
      .checkout-types.top {
        float: right;
        margin-top: 4px;
        .btn-continue, .btn-checkout {
          display: block;
          margin: 0px;
        }
        .btn-continue {
          @include transition(ease all 300ms);
          background-color: transparent;
          font-size: 13px;
          text-decoration: underline;
          padding: 10px;
          border: 0px;
          color: #000000;
          text-transform: initial;
          font-weight: 400;
          &:hover {
            @include transition(ease all 300ms);
            background-color: transparent !important;
            color: #2BB4BA !important;
          }
        }
        .btn-checkout {
          width: 225px;
        }
      }
      .custom-block {
        display: table;
        width: 100%;
        .header-cart {
          display: table;
          margin: 0 auto;
          li {
            float: left;
          }
        }
      }
    }
    .col-unit-price {
      position: relative;
      .prices {
        position: absolute;
        top: 0px;
        bottom: 0px;
        border-left: 1px solid #cccccc;
        padding-left: 10px;
      }
    }
    .cart-totals {
      float: right;
    }
    #discount-coupon-form {
      float: right;
    }
  }
  .contacts {
    li {
      margin-right: 50px;
      .icon {
        width: 33px;
      }
      .text {
        width: auto;
      }
    }
  }

  .modal {
    &.modal-message {
      .modal-dialog {
        width: 650px;
        .modal-content {
          display: table;
        }
        .image {
          float: left;
          width: 40%;
        }
        .content {
          float: left;
          width: 60%;
          /*padding-left: 5%;*/
          .modal-title {
            .fa {
            }
            span {
            }
          }
          .product-name {
            margin: 30px 0px;
            text-align: left;
            padding-left: 30px;
          }
          .btn-checkout {
            margin: 15px 0px 0px 30px;
          }
          .btn-continue {
            margin: 15px 0px 0px 30px;
          }
        }
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .col3-set {
    .column {
      width: 32%
    }
  }
  .nav-container {
    background-color: #0C656B;
    .nav-regular:not(.nav-vert) .nav-item.level0 > a {
      color: #FFFFFF;
      &:hover {
        background-color: lighten(#0C656B, 2%);
      }
    }
  }
  #search_mini_form {
    margin: 32px 0px;
  }
  .header-primary-container {
    padding: 0px;
    .header-primary {
      padding: 0px;
    }
    .hp-block {
      &.left-column {
        max-width: 195px;
        width: 100%;
        margin: 0px 10px 0px 0px;
        float: left;
        display: block;
        .item {
          margin: 0px;
          .logo {
            max-width: none;
          }
        }
      }
      &.central-column {
        max-width: 350px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        float: left;
        display: block;
        .item {
          width: 100%;
        }
      }
      &.right-column {
        max-width: 375px;
        width: 100%;
        margin: 0px 0px 0px 10px;
        float: left;
        display: block;
        .item {
          margin-right: 0px;
        }
      }
    }
  }
  .user-menu {
    margin: 32px 0px;
  }
  .top-links {
    .links {
      a {
        background-image: none;
        font-size: 16px !important;
        font-weight: 700;
        &.my-account {
          position: relative;
          top: -11px;
          padding: 7px;
          line-height: normal;
          .small {
            font-size: 12px;
            font-weight: 400;
            line-height: normal;
            display: block;
            margin: 0px;
          }
        }
      }
      .parent {
        position: relative;
        &:hover {
          .nav-panel--dropdown {
            display: block;
          }
        }
      }
    }
    .nav-panel--dropdown {
      display: none;
      position: absolute;
      z-index: 1000;
      background-color: #FFFFFF;
      width: 100%;
      margin-top: -12px;
      padding: 0px;
      a {
        @include transition(ease all 300ms);
        display: block;
        &:hover {
          @include transition(ease all 300ms);
          background-color: #00898F;
          color: #FFFFFF;
        }
      }
    }
    #my-account {
      width: 130%;
      left: -10px;
      a {
        padding: 10px 15px;
        line-height: normal;
      }
    }
  }
  .mini-cart {
    .icon {
      top: 0px;
      .count {
        top: 7px;
      }
    }
    .label {
      padding: 0px 0px;
      font-weight: 700;
      font-size: 14px;
    }
  }
  #block-news {
    #subscribe-form {
      display: table;
      margin: 0 auto;
      padding: 10px 0px
    }
    .beleza-vip {
      float: left;
      margin: 21px 0px;
      margin-right: 50px;
    }
    .form-news {
      float: left;
      margin: 0px 0px;
    }
    .title-news {
      margin: 0px 0px 5px 0px;
      text-align: left;
      font-size: 15px;
    }
    .input-box {
      margin: 0px;
      margin-right: 5px;
    }
    .button {
      margin: 0px;
      margin-left: 10px;
    }
    .notice-news {
      text-align: left;
      margin: 5px 0px 0px 0px;
      font-size: 10px;
      a {
        font-size: 10px;
      }
    }
  }
  .product-view {
    .price-box {
      .old-price {
        margin-right: 30px;
        margin-top: 20px;
        .price {
          font-size: 20px !important;
        }
      }
      .special-price {
        .price {
          font-size: 40px !important;
        }
      }
    }
    .add-to-cart {
      .btn-cart {
        font-size: 27px;
        line-height: normal;
        padding: 12px 15px;
      }
    }
    .add-to-links {
      li {
        width: 33.3%;
        margin: 0px;
        padding: 0px 0px;
        .ic {
          float: left;
        }
      }
    }
  }
  .checkout-cart-index {
    .page-title {
      .checkout-types.top {
        .btn-checkout {
          width: 294px;
        }
      }
      .custom-block {
        float: right;
        width: auto;
      }
    }
    .cart-collaterals {
      .shipping {
        .sp-methods {
          background-color: #e2e2e2;
          padding: 15px;
          margin-bottom: 15px;
          .price {
            display: initial;
          }
        }
      }
    }
  }
}

@media (min-width: $screen-lg-min) {
  .header-top-container {
    background-color: transparent;
    img {
      display: table;
      margin: 0 auto;
    }
  }
  .header-primary-container {
    .hp-block {
      &.left-column {
        margin: 0px 30px 0px 0px;
      }
      &.central-column {
        max-width: 430px;
        margin: 0px 30px 0px 0px;
      }
      &.right-column {
        max-width: 435px;
      }
    }
  }
  .user-menu {
    margin: 32px 15px;
  }
  .top-links {
    .links {
      a {
        font-size: 18px !important;
        padding: 0px 15px;
        &.my-account {
          top: -12px;
          padding: 7px;
          .small {
            font-size: 12px;
          }
        }
      }
    }
  }
  .mini-cart {
    .label {
      font-size: 16px;
    }
  }
  #block-news {
    #subscribe-form {
    }
    .beleza-vip {
    }
    .form-news {
    }
    .title-news {
    }
    .input-box {
    }
    .button {
    }
    .notice-news {
    }
  }
  .product-view {
    .add-to-links {
      li {
        width: 31.1%;
        margin: 0px;
        padding: 0px 5px;
      }
    }
  }
  .checkout-cart-index {
    .page-title {
      .checkout-types.top {
        .btn-checkout {
          width: 357px;
        }
      }
    }
  }
}