<style>
 #dt_method_<?php echo $this->getMethodCode() ?> {
   display: none;
 }
</style>

<script>
  //<![CDATA[
  var pagseguro_onlinedebit_dt = jQuery('#dt_method_<?php echo $this->getMethodCode() ?>')
  var pagseguro_online_debit_options = jQuery('#pagseguro-online-debit-options')
  paymentMethods()
  var OnlinedebitOptions = false

  pagseguroOnlinedebitOptions = function (res) {
    if (!OnlinedebitOptions) {
      if (!res['error']) {
        if (res['paymentMethods'] && res['paymentMethods']['ONLINE_DEBIT'] && res['paymentMethods']['ONLINE_DEBIT']['options']) {
          var k = 0
          pagseguro_online_debit_options.empty()
          jQuery.each(res['paymentMethods']['ONLINE_DEBIT']['options'], function (i, item) {
            if (item['status'] === 'AVAILABLE') {
              ++k
              if (k > 0) {
                pagseguro_onlinedebit_dt.show()
              }
              pagseguro_online_debit_options.append('<div><label>' +
                '<input class="input-radio required-entry" type="radio" id="debitbankName" name="debitbankName" value="' + i + '" required onclick="validateDebitBankName(this)">'
                + item['displayName'] + '</label></div>')
            }
          })
          if (k === 0) {
            pagseguro_onlinedebit_dt.find('input').prop('disabled', true)
          }
        }
      } else {
        console.log(res['error'])
      }
    }
  }
  //]]>
</script>

<script type="text/javascript">
//<![CDATA[
    // get value from one step checkout guest (if it is enabled) document to be used in pagseguro direct payment
    if(document.getElementById('billing:taxvat') !== null && document.getElementById('billing:taxvat').onchange === null) {
        document.getElementById('billing:taxvat').onchange = function (){
            var documents =  document.querySelectorAll('.pagseguro-document');
            var i;
            for (i=0; i < documents.length; i++) {
                documents[i].value = document.getElementById('billing:taxvat').value;
            }
        }
    }

    //set pagseguro session
    setOnlineDebitSessionId("<?= $this->getOnlineDebitSession();?>");
//]]>
</script>

<script>
//<![CDATA[
    var beforeSaveJsUrl = "<?php echo $this->getPagSeguroBeforeSaveJsSkinUrl() ?>";
    var x = document.getElementsByTagName("script");
      var header_already_added = false;
    for (var i=0; i< x.length; i++){
      if (x[i].src == beforeSaveJsUrl){
             header_already_added = true;
      }
  }

  if (header_already_added == false){
    // add header if not already added
    var head = document.getElementsByTagName("head")[0];
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.src = beforeSaveJsUrl;
    head.appendChild(s);
  }
//]]>
</script>

<div class="form-list" id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none;">
    <input type="hidden" id="onlineDebitHash" value="" name="payment[online_debit_hash]">
    <input type="hidden" id="onlineDebitBankName" value="" name="payment[online_debit_bank_name]">
    
    
    <div style="float: left">
        <div class="pagseguro-boleto-label-div">
            <label class="pagseguro-required"><?php echo $this->__('CPF ou CNPJ') ?>*</label>
        </div>
        <div class="pagseguro-cc-input-div">
            <input 
                id="debitDocument"
                class="input-text pagseguro-document required-entry"
                onblur="validateDocument(this)"
                onkeydown="documentMask(this)"
                type="text"
                title="<?php echo $this->__('CPF ou CNPJ') ?>"
                name="payment[online_debit_cpf]"
                value="<?= $this->getOnlineDebitDocument() ?>"
                maxlength="18"
            />
            <div class="display-none validation-advice debitDocument-error-message">Insira um CPF ou CNPJ válido</div>
        </div>
    <div class="input-box">
        <label class="required" style="padding: 0.9em 0em 0em;"><?php echo $this->__('Selecione abaixo seu banco') ?></label>
        <div id="pagseguro-online-debit-options" style="padding: 0em 1em;"></div>
    </div>
    <div class="display-none validation-advice debitbankName-error-message">Escolha um banco</div>
    <div style="display: inline-block; "class="pagseguro-label-spacing pagseguro-cc-group-div">
        <ul class="pagseguro-direct-payment-ul">
            <div class="pagseguro-cc-input-div">
                <li>Esta compra está sendo feita no Brasil 
                    <img class="flag-origin-country-img" src="<?php echo $this->getSkinUrl('uol/pagseguro/images/flag-origin-country.png'); ?>">
                </li>
            </div>
        </ul>
    </div>
</div>
