.display-none {
  display: none;
}

.help-block {
    color: #df280a;
    font-size: small;
}

.pagseguro-label-spacing {
    padding: 0.5em 0em;
    /*display: inline-flex;*/
}

.pagseguro-label-width {
    width: 30%;
}

.pagseguro-input-width {
    width: 50%;
}

span > input {
    width: 50%;
}

.pagseguro-label-spacing > label {
    width: 30%;
    text-align: right;
}

.pagseguro-direct-payment-ul {
    padding: 0.9em 0em 0.1em;
    font-size: smaller;
    font-style: italic;
}

.flag-origin-country-img {
    position: absolute; 
    padding-left: 0.5em;
    display: inline;
}

.pagseguro-cc-group-div {
    position: relative;
    width: 80%;
    display: inline-block;
}

.pagseguro-cc-label-div {
    float: left; width: 30%;
    text-align: right;
    padding-right: 4px;
}

.pagseguro-cc-input-div {
    float: left;
    width: 70%;
}

.pagseguro-cc-input-div > ul {
    width: 365px;
}

.pagseguro-required:after {
    content: '*';
    color: #df280a;
    font-weight: normal;
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 11px;
}

.pagseguro-cc-input {
    border: 1px solid silver;
}

.pagseguro-cc-select{
    border: 1px solid silver;
    height: 30px;
    padding: 0 8px;
    font-size: 13px;
}

.pagseguro-boleto-label-div {
    float: left;
    text-align: right;
    padding-right: 4px;
}
