<?php
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category    Ced
 * @package     Ced_SocialLogin
 * @author        CedCommerce Magento Core Team <Ced_MagentoCoreTeam@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/**
 * @category    Ced
 * @package        Ced_SocialLogin
 * @author        CedCommerce Magento Core Team <Ced_MagentoCoreTeam@cedcommerce.com>
 */

?>
<div class="ced-sociallogin-login">
    <div class="account-login">
        <div class="ced-sociallogin-login-lower social-login">
            <?php if ($this->_facebookEnabled()): ?>
                <div class="ced-sociallogin-login-lower-facebook btn-social">
                    <?php echo $this->getChildHtml('ced_facebook_login_button'); ?>
                </div>
            <?php endif; ?>
            <?php if ($this->_googleEnabled()): ?>
                <div class="ced-sociallogin-login-lower-google btn-social">
                    <?php echo $this->getChildHtml('ced_google_login_button'); ?>
                </div>
            <?php endif; ?>
            <?php if ($this->_twitterEnabled()): ?>
                <div class="ced-sociallogin-login-lower-twitter btn-social">
                    <?php echo $this->getChildHtml('ced_twitter_login_button'); ?>
                </div>
            <?php endif; ?>
            <?php if ($this->_linkedinEnabled()): ?>
                <div class="ced-sociallogin-login-lower-linkedin btn-social">
                    <?php echo $this->getChildHtml('ced_linkedin_login_button'); ?>
                </div>
            <?php endif; ?>
        </div>
    </div>
</div>