<?php
if (Mage::getSingleton('customer/session')->isLoggedIn()) {
  ?>
<a href="<?= $this->getUrl('/'); ?>customer/account/" class="my-account">
    <span class="small"><?= Mage::getStoreConfig('design/header/welcome'); ?></span>
    Minha Conta<span class="caret"></span>
  </a>
<ul id="my-account" class="level0 nav-submenu nav-panel--dropdown nav-panel" style="">
    <li class="nav-item classic">
      <a href="<?= $this->getUrl('/'); ?>customer/account/"><span>Minha Conta</span></a>
    </li>
    <li class="nav-item classic">
      <a href="<?= $this->getUrl('/'); ?>sales/order/history/"><span>Meus Pedidos</span></a>
    </li>
    <li class="nav-item classic">
      <a href="<?= $this->getUrl('/'); ?>customer/address/"><span>Meus Endereços</span></a>
    </li>
    <li class="nav-item classic">
      <a href="<?= $this->getUrl('/'); ?>customer/account/edit/"><span>Meus Dados Pessoais</span></a>
    </li>
    <li class="nav-item classic">
      <a href="<?= $this->getUrl('/'); ?>customer/account/logout/"><span>Sair</span></a>
    </li>
  </ul>
  <?php
} else {
  ?>
  <a href="<?= $this->getUrl('/'); ?>customer/account/" class="my-account">
    <span class="small">Olá! Entrar na</span>
    Minha Conta<span class="caret"></span>
  </a>
  <ul class="level0 nav-submenu nav-panel--dropdown nav-panel" style="">
    <li class="nav-item classic">
      <a href="<?= $this->getUrl('/'); ?>customer/account/login/"><span>Entrar</span></a>
    </li>
  </ul>
  <?php
}
?>
