<?php
/**
 *
 * @category   Inovarti
 * @package    Inovarti_Onestepcheckout
 * @author     Suporte <suporte@inovarti.com.br>
 */
?>
<div id="onestepcheckout-review-car" class="box">
  <div id="onestepcheckout-review-table-cart-wrapper">
    <?php echo $this->getHelperTimerBlockHtml(); ?>
    <table class="onestepcheckout-cart-table">
      <tbody>
	<?php foreach ($this->getItems() as $_item): ?>
	  <?php echo $this->getItemHtml($_item) ?>
	<?php endforeach ?>
      </tbody>
    </table>
  </div>
</div>
<div id="" class="block-totals">
  <?php echo $this->getChildHtml('totals'); ?>
</div>
<script type="text/javascript">
  var OSCReviewCartBlock = new OnestepcheckoutReviewCart({
    containerSelector: "#onestepcheckout-review-cart",
    relatedBlockContainerSelector: "#onestepcheckout-related",
    useForShippingCheckboxContainerSelector: "#onestepcheckout-billing-use-for-shipping",
    removeLinkSelector: ".onestepcheckout-cart-table a.btn-remove2",
    urlToUpdateBlocksAfterACP: <?php echo Zend_Json::encode($this->getUrlToUpdateBlocksAfterACP()); ?>,
    overlayConfig: {
      '48px': 'onestepcheckout-overlay onestepcheckout-overlay-48',
      '24px': 'onestepcheckout-overlay onestepcheckout-overlay-24',
      '16px': 'onestepcheckout-overlay onestepcheckout-overlay-16'
    }
  });
</script>