<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<!DOCTYPE html>

<!--[if lt IE 7 ]>
<html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>
<html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>
<html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>
<html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js"> <!--<![endif]-->

<head>
    <?php echo $this->getChildHtml('head') ?>
</head>
<?php $bodyClasses = $this->getBodyClass() . ' ' . $this->helper('ultimo')->getThemeBodyClasses(); ?>
<body class="<?php echo $bodyClasses; ?>">
<?php echo $this->getChildHtml('after_body_start') ?>
<div id="root-wrapper">
    <div class="wrapper">
        <?php echo $this->getChildHtml('global_notices') ?>
        <div class="page">
            <?php echo $this->getChildHtml('header') ?>
            <div class="main-container col1-layout">
                <div class="main-top-container"><?php echo $this->getChildHtml('main_before_top') ?></div>
                <div class="main container">
                    <div class="inner-container">
                        <div class="preface"><?php echo $this->getChildHtml('preface') ?></div>
                        <div id="page-columns" class="columns">
                            <div class="column-main">
                                <?php
                                $logoAlt = Mage::getStoreConfig('design/header/logo_alt');
                                $logoSrc = $this->getSkinUrl(Mage::getStoreConfig('design/header/logo_src'));
                                ?>
                                <?php if ($this->getIsHomePage()): ?>
                                    <h1 class="logo">
                                        <span class="sr-only"><?= $logoAlt; ?></span>
                                        <a href="<?php echo $this->getUrl('') ?>" title="<?= $logoAlt; ?>" class="logo">
                                            <img src="<?= $logoSrc; ?>" alt="<?= $logoAlt; ?>"/>
                                        </a>
                                    </h1>
                                <?php else: ?>
                                    <a href="<?php echo $this->getUrl('') ?>" title="<?= $logoAlt; ?>" class="logo">
                                        <span class="sr-only"><?= $logoAlt; ?></span>
                                        <img src="<?= $logoSrc; ?>" alt="<?= $logoAlt; ?>"/>
                                    </a>
                                <?php endif ?>
                                <?php echo $this->getChildHtml('global_messages') ?>
                                <?php echo $this->getChildHtml('content') ?>
                            </div>
                        </div>
                        <div class="postscript"><?php echo $this->getChildHtml('postscript') ?></div>
                    </div>
                </div>
                <div class="main-bottom-container"><?php echo $this->getChildHtml('main_bottom') ?></div>
            </div>
            <div class="footer">
                <div style="display: table; margin: 0 auto;">
                    <a href="<?php echo $this->getUrl('/') ?>politica-de-privacidade">Política de Privacidade</a> -
                    <a href="<?php echo $this->getUrl('/') ?>faq">Relacionamento com o cliente</a>
                </div>
            </div>
            <?php echo $this->getChildHtml('footer') ?>
            <?php echo $this->getChildHtml('global_cookie_notice') ?>
            <?php echo $this->getChildHtml('before_body_end') ?>
        </div>
    </div>
</div> <!-- end: root-wrapper -->
<?php echo $this->getAbsoluteFooter() ?>
</body>
</html>
