<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<!DOCTYPE html>

<!--[if lt IE 7 ]> <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js"> <!--<![endif]-->

  <head>
    <?php echo $this->getChildHtml('head') ?>
  </head>
  <?php $bodyClasses = $this->getBodyClass() . ' ' . $this->helper('ultimo')->getThemeBodyClasses() . ' page-layout-2columns-left'; ?>
  <body class="<?php echo $bodyClasses; ?> faq">
    <?php echo $this->getChildHtml('after_body_start') ?>
    <div id="root-wrapper">
      <div class="wrapper">
	<?php echo $this->getChildHtml('global_notices') ?>
	<div class="page">
	  <?php echo $this->getChildHtml('header') ?>
	  <div class="main-container col2-left-layout">
            <div class="main-top-container"><?php echo $this->getChildHtml('main_before_top') ?></div>
            <div class="main container">
	      <div class="inner-container">
		<div class="breadcrumbs">
		  <ul>
		    <li class="home" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
		      <a href="<?= $this->getUrl('/'); ?>" title="Ir para Página Inicial" itemprop="url"><span itemprop="title">Início</span></a>
		      <span class="sep"></span>
		    </li>
		    <li class="faq">
		      <span class="last-crumb">Dúvidas</span>
		    </li>
		  </ul>
		</div>
		<?php // echo $this->getChildHtml('breadcrumbs') ?>
		<div class="preface"><?php echo $this->getChildHtml('preface') ?></div>
		<div id="page-columns" class="columns">
		  <div class="page-title">
		    <h1><?php echo $this->__('Relacionamento com o cliente') ?></h1>
		    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('kosmettica-faq')->toHtml(); ?>
		  </div>
		  <div class="column-main">
		    <?php echo $this->getChildHtml('global_messages') ?>
		    <?php echo $this->getChildHtml('content') ?>
		  </div>
		  <div class="col-left sidebar sidebar-main"><?php echo $this->getChildHtml('left') ?></div>
		</div>
		<div class="postscript"><?php echo $this->getChildHtml('postscript') ?></div>
	      </div>
            </div>
            <div class="main-bottom-container"><?php echo $this->getChildHtml('main_bottom') ?></div>
	  </div>
	  <?php echo $this->getChildHtml('footer') ?>
	  <?php echo $this->getChildHtml('global_cookie_notice') ?>
	  <?php echo $this->getChildHtml('before_body_end') ?>
	</div>
      </div>
    </div> <!-- end: root-wrapper -->
    <?php echo $this->getAbsoluteFooter() ?>
  </body>
</html>
