.search-wrapper {
    max-width: none !important;
}

@media (min-width: 320px) {
    .breadcrumbs .last-crumb {
	font-weight: 700;
	color: #212121;
    }

    .col3-set .column {
	width: 100%;
    }

    .header-top-container {
	background-color: transparent;
    }
    .header-top-container img {
	display: table;
	margin: 0 auto;
    }

    #search_mini_form .input-text {
	border: 1px solid #cccccc;
	border-radius: 5px;
    }
    #search_mini_form .button {
	background-color: #30AAAF !important;
	color: #FFFFFF;
	border-radius: 0px 5px 5px 0px;
    }

    .mini-cart .icon {
	position: relative;
	top: 6px;
	background-color: transparent;
	background-image: url("../images/mini-cart.png");
	background-repeat: no-repeat;
	background-position: center center;
	display: block !important;
	text-align: center;
	width: 34px;
	height: 35px;
    }
    .mini-cart .icon .count {
	background-color: transparent;
	padding: 11px 3px 11px 0px;
    }

    .products-grid .item img {
	display: table;
	margin: 0 auto;
    }
    .products-grid .item .product-name {
	text-align: center;
	font-weight: 600;
    }
    .products-grid .item .product-short-description {
	font-family: "Arial";
	font-size: 14px;
	color: #a7a7a7;
	font-weight: 400;
	line-height: 120%;
	/*	font-weight: 400;
	    font-size: 14px;
	    color: #CCCCCC;*/
    }
    .products-grid .item .price-box {
	display: table;
	margin: 0 auto 15px;
    }
    .products-grid .item .price-box .old-price {
	float: left;
	font-size: 12px;
	font-weight: 600;
	padding-top: 18px;
	margin-right: 15px;
    }
    .products-grid .item .price-box .old-price .price-label {
	display: initial;
    }
    .products-grid .item .price-box .special-price, .products-grid .item .price-box .regular-price {
	float: right;
    }
    .products-grid .item .price-box .special-price .price-label, .products-grid .item .price-box .regular-price .price-label {
	display: none;
    }
    .products-grid .item .price-box .special-price .price, .products-grid .item .price-box .regular-price .price {
	font-size: 28px;
	color: #000000 !important;
	font-weight: 600;
    }
    .products-grid .item .actions .qty-wrapper {
	float: left;
	margin-right: 5px;
    }
    .products-grid .item .actions .qty-wrapper .qty {
	border: 1px solid #019B9B;
	float: left;
	margin-right: 5px;
	width: 35px;
	height: 45px;
    }
    .products-grid .item .actions .qty-wrapper .buttons {
	float: left;
	position: relative;
	display: block;
	height: 45px;
    }
    .products-grid .item .actions .qty-wrapper .buttons .btn-up {
	cursor: pointer;
	position: relative;
	top: 0px;
	left: 0px;
	background-color: #019B9B;
	border: 1px solid #019B9B;
	color: #FFFFFF;
	width: 20px;
    }
    .products-grid .item .actions .qty-wrapper .buttons .btn-down {
	cursor: pointer;
	position: absolute;
	bottom: 0px;
	left: 0px;
	border: 1px solid #019B9B;
	color: #019B9B;
	background-color: #FFFFFF;
	width: 20px;
    }
    .products-grid .item .actions .button {
	border-radius: 8px;
	float: left;
    }
    .products-grid .item .actions .btn-cart {
	background-color: #019B9B;
	color: #FFFFFF;
    }
    .products-grid .item .actions .btn-cart:hover {
	background-color: #018282 !important;
    }

    .section.featured {
	/*border-bottom: 10px solid #D90000;*/
	padding-bottom: 50px;
	margin-bottom: 50px;
    }

    #block-news {
	background-color: #00898F;
    }
    #block-news .border-top {
	background-color: transparent;
	background-image: url("../images/border-top.png");
	background-repeat: repeat-x;
	background-size: nul;
	background-position: top left;
	width: 100%;
	height: 16px;
    }
    #block-news .border-bottom {
	background-color: transparent;
	background-image: url("../images/border-bottom.png");
	background-repeat: repeat-x;
	background-size: nul;
	background-position: top left;
	width: 100%;
	height: 16px;
    }
    #block-news .beleza-vip {
	display: table;
	margin: 15px auto;
    }
    #block-news .form-news {
	display: table;
	margin: 0 auto;
    }
    #block-news .title-news {
	font-family: "Arial";
	font-size: 15px;
	color: #FFFFFF;
	font-weight: 400;
	line-height: 120%;
	text-align: center;
	margin: 0px 0px 15px;
    }
    #block-news .input-box {
	display: table;
	margin-top: 0px;
	margin-bottom: 15px;
    }
    #block-news .input-box .input-text {
	border-radius: 5px;
	font-size: 18px;
    }
    #block-news .input-box .input-text::-moz-placeholder {
	color: #CCC;
	opacity: 1;
    }
    #block-news .input-box .input-text:-ms-input-placeholder {
	color: #CCC;
    }
    #block-news .input-box .input-text::-webkit-input-placeholder {
	color: #CCC;
    }
    #block-news .button {
	display: table;
	margin: 0 auto 15px;
	border-radius: 5px;
	background-color: #A2DDE3;
	text-transform: uppercase;
	color: #00898F;
    }
    #block-news .notice-news {
	display: table;
	margin: 0 auto 15px;
	font-family: "Arial";
	font-size: 12px;
	color: #FFFFFF;
	line-height: 120%;
	text-align: center;
    }
    #block-news .notice-news a {
	font-family: "Arial";
	font-size: 12px;
	color: #FFFFFF;
	line-height: 120%;
	text-decoration: underline;
    }

    .footer-container {
	background-color: #F8F8F8;
    }
    .footer-container a, .footer-container p {
	/*@include text('Arial', , #888888);*/
	color: #888888;
    }
    .footer-container a.faq, .footer-container p.faq {
	font-size: 18px;
	border-bottom: 2px solid #00898F;
	/*text-decoration: underline;*/
	text-transform: uppercase;
	color: #00898F;
	margin: 0px 40px 40px;
	display: table;
    }
    .footer-container .likebox {
	margin: 30px 0px 0px;
    }
    .footer-container .likebox .btn-like {
	float: left;
	border: 2px solid #CBD2E2;
	background-color: #EAEBF0;
	color: #2F6098;
	font-size: 25px;
	padding: 15px 20px;
	border-radius: 5px;
    }
    .footer-container .likebox .count {
	float: left;
	padding-left: 10px;
	font-size: 18px;
	color: #00898F;
	padding-top: 35px;
    }
    .footer-container .bandeiras li {
	float: left;
    }
    .footer-container .heading-2 {
	font-size: 15px;
	color: #666666;
    }
    .footer-container .social-links li {
	float: left;
    }
    .footer-container .social-links li a {
	-webkit-transition: ease all 300ms;
	-o-transition: ease all 300ms;
	transition: ease all 300ms;
	font-size: 45px;
	font-style: normal;
	color: #5A5A5A;
	margin: 0px 6px;
    }
    .footer-container .social-links li a:hover {
	-webkit-transition: ease all 300ms;
	-o-transition: ease all 300ms;
	transition: ease all 300ms;
    }
    .footer-container .social-links li a.facebook {
	margin-left: 0px;
    }
    .footer-container .social-links li a.facebook:hover {
	color: #4267B2;
    }
    .footer-container .social-links li a.twitter {
	background-color: #5A5A5A;
	color: #FFFFFF;
	border-radius: 50%;
	display: block;
	width: 45px;
	height: 45px;
	position: relative;
	margin-top: 8px;
    }
    .footer-container .social-links li a.twitter .fa {
	font-size: 30px;
	position: absolute;
	top: 8px;
	left: 10px;
    }
    .footer-container .social-links li a.twitter:hover {
	background-color: #1DA1F2;
    }
    .footer-container .social-links li a.youtube {
	background-color: #5A5A5A;
	color: #FFFFFF;
	border-radius: 50%;
	display: block;
	width: 45px;
	height: 45px;
	position: relative;
	margin-top: 8px;
    }
    .footer-container .social-links li a.youtube .fa {
	font-size: 28px;
	position: absolute;
	top: 8px;
	left: 11px;
    }
    .footer-container .social-links li a.youtube:hover {
	background-color: #C8302F;
    }
    .footer-container .social-links li a.instagram:hover {
	color: #8a3ab9;
    }
    .footer-container .social-links li a.pinterest {
	margin-right: 0px;
    }
    .footer-container .social-links li a.pinterest:hover {
	color: #cd2029;
    }
    .footer-container .secure li {
	float: left;
    }

    .footer-bottom-container {
	background-color: tranparent;
    }

    .footer-copyright {
	text-align: center;
	font-size: 12px;
	color: #888888;
    }

    #scroll-to-top {
	bottom: 100px;
    }

    .product-view .box-related .product-name, .product-view .block-upsell .product-name {
	font-size: 15px;
    }
    .product-view .product-name {
	font-size: 22px;
    }
    .product-view .availability {
	float: none;
	text-align: right;
	/*margin-bottom: 10px;*/
    }
    .product-view .product-type-data {
	/*margin-bottom: 10px;*/
    }
    .product-view .price-box .old-price {
	float: left;
	margin-right: 10px;
	margin-top: 7px;
    }
    .product-view .price-box .old-price .price-label {
	display: block;
    }
    .product-view .price-box .old-price .price {
	font-size: 20px !important;
	color: #939498 !important;
    }
    .product-view .price-box .special-price {
	float: left;
    }
    .product-view .price-box .special-price .price-label {
	display: none;
    }
    .product-view .price-box .special-price .price {
	font-size: 28px !important;
	color: #231F20 !important;
	font-weight: 600;
    }
    .product-view .product-options p.required {
	position: initial;
    }
    .product-view .add-to-cart .qty-wrapper {
	float: left;
	margin-right: 10px;
    }
    .product-view .add-to-cart .qty-wrapper .qty {
	border: 1px solid #019B9B;
	float: left;
	margin-right: 10px;
	width: 55px !important;
	height: 55px !important;
    }
    .product-view .add-to-cart .qty-wrapper .qty-buttons-wrapper {
	float: left;
	position: relative;
	display: block;
	/*height: 45px;*/
    }
    .product-view .add-to-cart .qty-wrapper .qty-buttons-wrapper .qty-button.increase:before, .product-view .add-to-cart .qty-wrapper .qty-buttons-wrapper .qty-button.decrease:before {
	display: none;
    }
    .product-view .add-to-cart .qty-wrapper .qty-buttons-wrapper .qty-button.increase {
	cursor: pointer;
	background-color: #019B9B;
	border: 1px solid #019B9B;
	color: #FFFFFF;
	width: 24px;
	height: 24px;
	margin-bottom: 3px;
    }
    .product-view .add-to-cart .qty-wrapper .qty-buttons-wrapper .qty-button.decrease {
	cursor: pointer;
	border: 1px solid #019B9B;
	color: #019B9B;
	background-color: #FFFFFF;
	width: 24px;
	height: 24px;
    }
    .product-view .add-to-cart .btn-cart {
	-webkit-transition: ease all 300ms;
	-o-transition: ease all 300ms;
	transition: ease all 300ms;
	float: left;
	background-color: #069A9A;
	border-radius: 8px;
	text-transform: uppercase;
	font-size: 23px;
	line-height: normal;
	padding: 14px 12px;
	width: auto;
	min-width: auto;
    }
    .product-view .add-to-cart .btn-cart:hover {
	-webkit-transition: ease all 300ms;
	-o-transition: ease all 300ms;
	transition: ease all 300ms;
	background-color: #058181 !important;
    }
    .product-view .add-to-links li {
	width: 28.7%;
	margin: 0px;
	padding: 0px 5px;
    }
    .product-view .add-to-links a {
	-webkit-transition: ease all 300ms;
	-o-transition: ease all 300ms;
	transition: ease all 300ms;
	display: block;
	text-align: center;
    }
    .product-view .add-to-links a:hover {
	-webkit-transition: ease all 300ms;
	-o-transition: ease all 300ms;
	transition: ease all 300ms;
	color: #019b9b;
    }
    .product-view .add-to-links .ib {
	-webkit-transition: ease all 300ms;
	-o-transition: ease all 300ms;
	transition: ease all 300ms;
	background-color: #EDEDED;
	color: #333333;
	display: table;
	margin: 0 auto !important;
	float: none;
    }
    .product-view .add-to-links .ib:hover {
	-webkit-transition: ease all 300ms;
	-o-transition: ease all 300ms;
	transition: ease all 300ms;
	background-color: #019b9b !important;
	color: #FFFFFF;
    }
    .product-view .product-secondary-column .container_product_secondary_2 ul li {
	display: table;
	margin-bottom: 10px;
	font-size: 15px;
	color: #6C6C6C;
	padding: 10px 0px;
    }
    .product-view .product-secondary-column .container_product_secondary_2 ul li .mark {
	display: block;
	float: left;
	width: 41px;
	max-height: 41px;
	background-color: #069A9A;
	border-radius: 50%;
	color: #FFFFFF;
	text-align: center;
	padding: 10px 0px;
	margin: -9px 20px -9px 0px;
    }

    .checkout-cart-index .main {
	background-color: #f8f8f8;
    }
    .checkout-cart-index .title {
	font-size: 20px;
	padding: 12px 0px;
	display: table;
	margin: 0 auto;
	float: none;
    }
    .checkout-cart-index .checkout-types.top .btn-continue, .checkout-cart-index .checkout-types.top .btn-checkout {
	display: none;
    }
    .checkout-cart-index .header-cart li {
	display: table;
	margin: 0 auto;
    }
    .checkout-cart-index .cart-table-wrapper {
	border-top: 1px solid #cccccc !important;
    }
    .checkout-cart-index .cart-table-wrapper tr .a-center > * {
	display: table;
	margin: 0 auto;
    }
    .checkout-cart-index .cart-table-wrapper tr .block-qty label {
	font-size: 12px;
	font-weight: 300;
    }
    .checkout-cart-index .cart-table-wrapper tr .block-qty .qty-wrapper {
	position: relative;
    }
    .checkout-cart-index .cart-table-wrapper tr .block-qty .qty-wrapper .qty {
	border: 1px solid #019B9B;
	float: left;
	margin-right: 5px;
	width: 40px !important;
	height: 43px;
    }
    .checkout-cart-index .cart-table-wrapper tr .block-qty .qty-wrapper .buttons {
	float: left;
	position: relative;
	display: block;
	height: 43px;
    }
    .checkout-cart-index .cart-table-wrapper tr .block-qty .qty-wrapper .buttons .btn-up {
	cursor: pointer;
	position: relative;
	top: 0px;
	left: 0px;
	background-color: #019B9B;
	border: 1px solid #019B9B;
	color: #FFFFFF;
	width: 20px;
    }
    .checkout-cart-index .cart-table-wrapper tr .block-qty .qty-wrapper .buttons .btn-down {
	cursor: pointer;
	position: absolute;
	bottom: 0px;
	left: 0px;
	border: 1px solid #019B9B;
	color: #019B9B;
	background-color: #FFFFFF;
	width: 20px;
    }
    .checkout-cart-index .cart-table-wrapper tr .btn-remove {
	font-size: 12px;
	color: #ADADAD;
	display: block;
	margin-bottom: 10px;
	width: auto;
    }
    .checkout-cart-index .cart-table-wrapper tr .btn-remove:hover {
	text-decoration: undeline;
    }
    .checkout-cart-index .cart-table-wrapper tr .btn-remove:before {
	display: none;
    }
    .checkout-cart-index .cart-table-wrapper tr .sku {
	font-size: 10px;
	color: #ADADAD;
    }
    .checkout-cart-index .cart-table-wrapper tr .prices li {
	display: inline-block;
	width: 100%;
	font-size: 15px;
	padding: 10px 0px;
    }
    .checkout-cart-index .cart-table-wrapper tr .prices li.price-individual {
	color: #787878;
    }
    .checkout-cart-index .cart-table-wrapper tr .prices li.price-subtotal {
	color: #515151;
	font-weight: 600;
	border-top: 1px solid #cccccc;
    }
    .checkout-cart-index .cart-table-wrapper tr .prices li .label {
	float: left;
    }
    .checkout-cart-index .cart-table-wrapper tr .prices li .cart-price {
	float: right;
    }
    .checkout-cart-index .cart-table-wrapper .product-image {
	display: table;
	margin: 0 auto;
    }
    .checkout-cart-index .cart-table-wrapper .product-name {
	font-size: 18px;
	margin-bottom: 15px;
    }
    .checkout-cart-index .cart-table-wrapper p {
	font-size: 14px;
	margin-bottom: 15px;
    }
    .checkout-cart-index .cart-collaterals .grid-full.alpha.omega {
	margin: 0px;
    }
    .checkout-cart-index .cart-collaterals label {
	font-size: 13px;
	color: #7d7d7d;
	margin-bottom: 2px;
    }
    .checkout-cart-index .cart-collaterals .input-text {
	border-radius: 5px;
	border: 1px solid #cccccc;
	color: #a0a0a0;
    }
    .checkout-cart-index .cart-collaterals .buttons-set {
	width: 35%;
	float: right;
	margin: 0px;
	clear: none;
    }
    .checkout-cart-index .cart-collaterals .buttons-set .button {
	width: 100%;
	min-width: auto;
    }
    .checkout-cart-index .cart-collaterals .discount {
	display: table;
    }
    .checkout-cart-index .cart-collaterals .discount .input-box {
	width: 61%;
	float: left;
    }
    .checkout-cart-index .cart-collaterals .discount .button {
	border-radius: 5px;
	background-color: #999999;
	border-bottom: 2px solid #7f7f7f;
	text-transform: uppercase;
	line-height: normal;
	padding: 8px 0px;
	line-height: normal;
	padding: 8px 0px;
	width: 100%;
	min-width: auto;
	font-size: 14px;
    }
    .checkout-cart-index .cart-collaterals .discount .btn-cancel {
	margin-top: 10px;
    }
    .checkout-cart-index .cart-collaterals .shipping .form-list {
	width: 61%;
	float: left;
    }
    .checkout-cart-index .cart-collaterals .shipping label {
	font-size: 13px;
	color: #7d7d7d;
	font-weight: 400;
    }
    .checkout-cart-index .cart-collaterals .shipping .buttons-set {
	margin-top: 20px;
    }
    .checkout-cart-index .cart-collaterals .shipping .buttons-set .button {
	border-radius: 5px;
	background-color: #2BB4BA;
	border-bottom: 2px solid #149DA3;
	text-transform: uppercase;
	line-height: normal;
	padding: 8px 0px;
	line-height: normal;
	padding: 9px 0px;
	width: 100%;
	min-width: auto;
	font-size: 14px;
    }
    .checkout-cart-index .cart-collaterals .shipping .busca-cep {
	-webkit-transition: ease all 300ms;
	-o-transition: ease all 300ms;
	transition: ease all 300ms;
	font-size: 12px;
	color: #33BAC0;
	float: right;
	margin-top: 10px;
    }
    .checkout-cart-index .cart-collaterals .shipping .busca-cep:hover {
	-webkit-transition: ease all 300ms;
	-o-transition: ease all 300ms;
	transition: ease all 300ms;
	text-decoration: underline;
    }
    .checkout-cart-index .cart-collaterals .shipping .btn-update {
	border-radius: 5px;
	background-color: #2BB4BA;
	border-bottom: 2px solid #149DA3;
	text-transform: uppercase;
	line-height: normal;
	padding: 8px 0px;
	line-height: normal;
	padding: 8px 0px;
	width: 100%;
	min-width: auto;
	font-size: 14px;
    }
    .checkout-cart-index .cart-collaterals .shipping .sp-methods {
	background-color: #e2e2e2;
	padding: 15px;
	margin-bottom: 15px;
    }
    .checkout-cart-index .cart-collaterals .shipping .sp-methods .price {
	display: table;
	margin: 0 auto;
    }
    .checkout-cart-index .cart-collaterals .totals {
	margin-top: 15px !important;
    }
    .checkout-cart-index .cart-collaterals .totals .totals-inner {
	padding: 0px;
    }
    .checkout-cart-index .cart-collaterals .totals .totals-table {
	background-color: #e2e2e2;
	padding: 15px;
    }
    .checkout-cart-index .cart-collaterals .totals td {
	padding: 0px;
    }
    .checkout-cart-index .checkout-types .button {
	border-radius: 5px;
	text-transform: uppercase;
	line-height: normal;
	padding: 8px 0px;
	line-height: normal;
	padding: 10px 0px;
	height: auto;
	min-width: auto;
	font-size: 14px;
	text-align: center;
    }
    .checkout-cart-index .checkout-types .btn-checkout {
	background-color: #2BB4BA;
	border-bottom: 2px solid #149DA3;
	width: 100%;
    }
    .checkout-cart-index .checkout-types .btn-continue {
	display: block;
	background-color: #FFFFFF;
	border: 2px solid #01848C;
	color: #2BB4BA;
	font-weight: 600;
    }

    .onestepcheckout-index-index #onestepcheckout-authentification {
	min-height: auto;
    }
    .onestepcheckout-index-index #onestepcheckout-authentification #onestepcheckout-authentification-container {
	height: auto !important;
    }
    .onestepcheckout-index-index .btn-link {
	-webkit-transition: ease all 300ms;
	-o-transition: ease all 300ms;
	transition: ease all 300ms;
	border: 0px;
	text-decoration: underline;
	background-color: transparent;
	color: #919da9;
	float: right;
	cursor: pointer;
	margin: 0px;
	font-size: 12px;
    }
    .onestepcheckout-index-index .btn-link:hover {
	-webkit-transition: ease all 300ms;
	-o-transition: ease all 300ms;
	transition: ease all 300ms;
	color: #3281d4;
    }
    .onestepcheckout-index-index .modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
    }
    .onestepcheckout-index-index .modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	/*display: none;*/
	/*overflow: hidden;*/
	-webkit-overflow-scrolling: touch;
	/*outline: 0;*/
	opacity: 1;
    }
    .onestepcheckout-index-index .modal .modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
	width: 300px;
	margin: 30px auto;
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%);
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
    }
    .onestepcheckout-index-index .modal .modal-dialog .modal-content {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	padding: 15px;
    }
    .onestepcheckout-index-index .modal .modal-dialog .modal-content .close {
	position: absolute;
	top: 18px;
	right: 15px;
	width: 18px;
	color: #CCCCCC;
	border: 0px;
	cursor: pointer;
	background-color: transparent;
    }
    .onestepcheckout-index-index .modal .modal-dialog .modal-content .close:hover {
	color: #444444;
    }
    .onestepcheckout-index-index .modal .modal-dialog .modal-content .modal-title {
	display: block;
	clear: left;
	font-size: 20px;
	font-weight: 600;
	color: #333333;
	padding: 0px 0px 10px;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 10px;
    }
    .onestepcheckout-index-index .modal .modal-dialog .modal-content .onestepcheckout-auth-form-block {
	width: 100%;
	padding: 0px;
	margin-bottom: 15px;
    }
    .onestepcheckout-index-index .modal .modal-dialog .modal-content .onestepcheckout-auth-form-block:last-child {
	margin-bottom: 0px;
    }
    .onestepcheckout-index-index .modal .modal-dialog .modal-content .onestepcheckout-auth-form-block .input-box, .onestepcheckout-index-index .modal .modal-dialog .modal-content .onestepcheckout-auth-form-block .input-text {
	width: 100%;
    }
    .onestepcheckout-index-index .modal .modal-dialog .modal-content .btn-link {
	float: left;
	padding: 13px 0px;
	margin: 0px;
    }
    .onestepcheckout-index-index .modal .modal-dialog .modal-content .btn-submit {
	float: right;
    }
    .onestepcheckout-index-index .onestepcheckout .step-title {
	background-color: #01858A;
	padding: 10px;
    }
    .onestepcheckout-index-index .onestepcheckout .step-title:hover {
	background-color: #01858A;
    }
    .onestepcheckout-index-index .onestepcheckout .step-title .number {
	background-color: transparent;
	font-size: 15px;
	font-weight: 600;
	color: #FFFFFF;
	padding: 0px 0px;
	margin: 0px;
    }
    .onestepcheckout-index-index .onestepcheckout .step-title h2 {
	font-size: 15px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: normal;
	margin-left: 5px;
    }
    .onestepcheckout-index-index .onestepcheckout .step {
	padding: 0px;
	margin: 0px;
    }
    .onestepcheckout-index-index .onestepcheckout .box {
	border: 1px solid #eeeeee;
	padding: 10px;
	margin-bottom: 15px;
    }
    .onestepcheckout-index-index .onestepcheckout .box .step-title {
	margin: 0px 0px 0px;
    }
    .onestepcheckout-index-index .onestepcheckout .box li {
	margin: 0px;
    }
    .onestepcheckout-index-index .onestepcheckout .box .field {
	width: 100%;
	margin-bottom: 10px;
    }
    .onestepcheckout-index-index .onestepcheckout .box .field label {
	float: left;
	margin: 0px;
	padding: 8px 0px;
	font-weight: 400;
	font-size: 14px;
    }
    .onestepcheckout-index-index .onestepcheckout .box .field .input-box {
	float: right;
	width: 58%;
	clear: none;
    }
    .onestepcheckout-index-index .onestepcheckout .box .field .input-box .input-text, .onestepcheckout-index-index .onestepcheckout .box .field .input-box select {
	width: 100%;
	margin: 0px;
    }
    .onestepcheckout-index-index .onestepcheckout .box .field .dob-day {
	width: 61px;
    }
    .onestepcheckout-index-index .onestepcheckout .box .field .dob-month {
	width: 66px;
    }
    .onestepcheckout-index-index .onestepcheckout .box .field .dob-year {
	width: 71px;
    }
    .onestepcheckout-index-index .onestepcheckout .box .field .nao-sei-cep {
	padding: 0px;
	float: right;
	margin: 0px;
    }
    .onestepcheckout-index-index .onestepcheckout .input-text {
	border-radius: 5px;
    }
    .onestepcheckout-index-index .onestepcheckout #onestepcheckout-review-car {
	padding: 0px;
    }
    .onestepcheckout-index-index .onestepcheckout .onestepcheckout-cart-table {
	/*	tfoot{
	      background-color: #EFEFEF;
	    }*/
	/*	tr.subtotal{
	      display: none;
	    }*/
    }
    .onestepcheckout-index-index .onestepcheckout .onestepcheckout-cart-table .lc-thumbnails {
	width: 80px;
    }
    .onestepcheckout-index-index .onestepcheckout .onestepcheckout-cart-table .product-details {
	width: 160px;
    }
    .onestepcheckout-index-index .onestepcheckout .onestepcheckout-cart-table .product-name {
	font-size: 14px;
    }
    .onestepcheckout-index-index .onestepcheckout .onestepcheckout-cart-table .product-price {
	width: 80px;
    }
    .onestepcheckout-index-index .onestepcheckout .onestepcheckout-cart-table .text-gray {
	font-size: 12px;
	color: #878787;
	margin-bottom: 5px;
	line-height: normal;
    }
    .onestepcheckout-index-index .onestepcheckout .onestepcheckout-cart-table .cart-price {
	font-weight: 600;
	text-align: right;
    }
    .onestepcheckout-index-index .onestepcheckout .onestepcheckout-cart-table tbody tr td {
	border-bottom: 1px solid #eeeeee;
	padding: 8px;
    }
    .onestepcheckout-index-index .onestepcheckout .onestepcheckout-cart-table tbody tr:last-child td {
	border-bottom: 0px;
    }
    .onestepcheckout-index-index .onestepcheckout .coupon-code-form label {
	font-size: 13px;
	color: #7d7d7d;
	margin-bottom: 2px;
    }
    .onestepcheckout-index-index .onestepcheckout .coupon-code-form .input-box {
	width: 100% !important;
    }
    .onestepcheckout-index-index .onestepcheckout .coupon-code-form .input-box .input-text {
	width: 71% !important;
	margin-right: 5px;
    }
    .onestepcheckout-index-index .onestepcheckout .coupon-code-form .input-box .button {
	border-radius: 5px;
	background-color: #999999;
	border-bottom: 2px solid #7f7f7f;
	text-transform: uppercase;
	line-height: normal;
	padding: 8px 0px;
	line-height: normal;
	padding: 8px 0px;
	width: 95px;
	min-width: auto;
	font-size: 14px;
    }
    .onestepcheckout-index-index .onestepcheckout .btn-checkout {
	border-radius: 5px;
	text-transform: uppercase;
	line-height: normal;
	line-height: normal;
	padding: 11px 0px;
	height: auto;
	min-width: auto;
	font-size: 14px;
	text-align: center;
	background-color: #2BB4BA;
	border-bottom: 2px solid #149DA3;
	width: 100%;
    }
    .onestepcheckout-index-index .onestepcheckout .block-totals {
	margin-bottom: 15px;
	padding: 15px;
	background-color: #EFEFEF;
    }
    .onestepcheckout-index-index .onestepcheckout .block-totals .totals {
	width: 100%;
    }
    .onestepcheckout-index-index .onestepcheckout #onestepcheckout-order-review-coupon-wrapper {
	margin-bottom: 15px;
    }

    .contacts {
	display: table;
	margin: 15px 0px;
    }
    .contacts li {
	float: left;
    }
    .contacts li .icon {
	display: block;
	float: left;
	margin-right: 10px;
	width: 33px;
    }
    .contacts li .text {
	float: left;
	width: 235px;
    }
    .contacts li .text h4 {
	font-size: 15px;
	color: #0C656D;
	margin: 0px;
    }
    .contacts li .text p {
	color: #212121;
	font-size: 15px;
	margin: 0px;
    }

    .faq .page-title h1 {
	font-family: "Arial";
	font-size: 18px;
	color: #212121;
	font-weight: 400;
	line-height: 120%;
	margin: 20px 0px;
    }
    .faq .faq-content #accordion li {
	margin-bottom: 5px;
	border: 1px solid #ececec;
    }
    .faq .faq-content #accordion li .toggle-accordion {
	-webkit-transition: ease all 300ms;
	-o-transition: ease all 300ms;
	transition: ease all 300ms;
	font-family: "Arial";
	font-size: 15px;
	color: #333333;
	font-weight: 400;
	line-height: 120%;
	display: block;
	padding: 10px 15px;
	background-color: #FFFFFF;
    }
    .faq .faq-content #accordion li .toggle-accordion .fa {
	float: right;
	font-size: 18px;
	color: #CCCCCC;
    }
    .faq .faq-content #accordion li .toggle-accordion:hover, .faq .faq-content #accordion li .toggle-accordion.opened {
	-webkit-transition: ease all 300ms;
	-o-transition: ease all 300ms;
	transition: ease all 300ms;
	background-color: #f3f3f3;
    }
    .faq .faq-content #accordion li .collapse {
	border-top: 1px solid #ececec;
	padding: 10px 15px;
    }
    .faq .column-main .subtitle {
	font-family: "Arial";
	font-size: 18px;
	color: #212121;
	font-weight: 400;
	line-height: 120%;
	text-align: center;
	margin: 0px 0px 15px;
    }
    .faq .faq-categories {
	margin-top: 20px;
	border: 1px solid #ececec;
	-webkit-box-shadow: 0px 2px 0px 0px #ececec;
	box-shadow: 0px 2px 0px 0px #ececec;
    }
    .faq .faq-categories li:last-child a {
	border-bottom: 0px;
    }
    .faq .faq-categories li a {
	-webkit-transition: ease all 300ms;
	-o-transition: ease all 300ms;
	transition: ease all 300ms;
	font-family: "Arial";
	font-size: 15px;
	color: #333333;
	font-weight: 400;
	line-height: 120%;
	display: block;
	padding: 10px 15px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #ececec;
    }
    .faq .faq-categories li a:hover {
	-webkit-transition: ease all 300ms;
	-o-transition: ease all 300ms;
	transition: ease all 300ms;
	background-color: #f3f3f3;
    }
    .faq .faq-categories li a .fa {
	float: right;
	font-size: 18px;
	color: #CCCCCC;
    }

    .modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
    }

    .modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	-webkit-overflow-scrolling: touch;
	opacity: 1;
    }
    .modal .modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
	width: 300px;
	margin: 30px auto;
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%);
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
    }
    .modal .modal-dialog .modal-content {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	padding: 15px;
    }
    .modal .modal-dialog .modal-content .close {
	position: absolute;
	top: 18px;
	right: 15px;
	width: 18px;
	color: #CCCCCC;
	border: 0px;
	cursor: pointer;
	background-color: transparent;
    }
    .modal .modal-dialog .modal-content .close:hover {
	color: #444444;
    }
    .modal .modal-dialog .modal-content .modal-title {
	display: block;
	clear: left;
	font-size: 20px;
	font-weight: 600;
	color: #333333;
	padding: 0px 0px 10px;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 10px;
    }
    .modal .modal-dialog .modal-content .onestepcheckout-auth-form-block {
	width: 100%;
	padding: 0px;
	margin-bottom: 15px;
    }
    .modal .modal-dialog .modal-content .onestepcheckout-auth-form-block:last-child {
	margin-bottom: 0px;
    }
    .modal .modal-dialog .modal-content .onestepcheckout-auth-form-block .input-box, .modal .modal-dialog .modal-content .onestepcheckout-auth-form-block .input-text {
	width: 100%;
    }
    .modal .modal-dialog .modal-content .btn-link {
	float: left;
	padding: 13px 0px;
	margin: 0px;
    }
    .modal .modal-dialog .modal-content .btn-submit {
	float: right;
    }
    .modal.modal-message .modal-dialog .content .modal-title {
	display: table;
	border-bottom: 0px;
    }
    .modal.modal-message .modal-dialog .content .modal-title .fa {
	color: #019B9B;
	margin-right: 5px;
	font-size: 30px;
	float: left;
    }
    .modal.modal-message .modal-dialog .content .modal-title span {
	float: left;
	font-family: "Arial";
	font-size: 15px;
	color: #000000;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 120%;
	max-width: 85%;
    }
    .modal.modal-message .modal-dialog .content .product-name {
	font-family: "Arial";
	font-size: 15px;
	color: #737373;
	font-weight: 100;
	line-height: 120%;
	text-align: center;
    }
    .modal.modal-message .modal-dialog .content .btn-checkout {
	background-color: #019B9B;
	padding: 10px;
	text-decoration: none;
	border-radius: 5px;
	display: table;
	margin: 15px auto;
	text-align: center;
	line-height: normal;
	font-family: "Arial";
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 120%;
    }
    .modal.modal-message .modal-dialog .content .btn-continue {
	text-align: center;
	color: #019B9B;
	display: table;
	margin: 0px auto 15px;
	text-align: center;
    }

    .social-login .btn-social {
	display: block;
	margin-bottom: 5px;
    }
    .social-login .btn-social a {
	-webkit-transition: ease all 300ms;
	-o-transition: ease all 300ms;
	transition: ease all 300ms;
	display: table;
	width: 282px;
	background-color: #dedede;
	font-family: "Arial";
	font-size: 12px;
	color: #FFFFFF;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 120%;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 0px 0px #CCCCCC inset;
	box-shadow: 0px 0px 0px 0px #CCCCCC inset;
    }
    .social-login .btn-social a .fa {
	width: 35px;
	font-size: 14px;
	border-right: 1px solid #CCCCCC;
	text-align: center;
	margin-right: 10px;
	padding: 12px 0px;
    }
    .social-login .btn-social a span {
	padding: 12px;
	padding-left: 0px;
    }
    .social-login .btn-social a.btn-facebook {
	background-color: #4765AD;
	-webkit-box-shadow: 0px -2px 0px 0px #374e85 inset;
	box-shadow: 0px -2px 0px 0px #374e85 inset;
    }
    .social-login .btn-social a.btn-facebook .fa {
	border-color: #6a84c2;
    }
    .social-login .btn-social a.btn-google {
	background-color: #DB4437;
	-webkit-box-shadow: 0px -2px 0px 0px #b92d21 inset;
	box-shadow: 0px -2px 0px 0px #b92d21 inset;
    }
    .social-login .btn-social a.btn-google .fa {
	border-color: #e47067;
    }
    .social-login .btn-social a.btn-twitter {
	background-color: #1DA1F2;
	-webkit-box-shadow: 0px -2px 0px 0px #0c82cb inset;
	box-shadow: 0px -2px 0px 0px #0c82cb inset;
    }
    .social-login .btn-social a.btn-twitter .fa {
	border-color: #52b7f5;
    }
    .social-login .btn-social a.btn-linkedin {
	background-color: #0077B5;
	-webkit-box-shadow: 0px -2px 0px 0px #00527d inset;
	box-shadow: 0px -2px 0px 0px #00527d inset;
    }
    .social-login .btn-social a.btn-linkedin .fa {
	border-color: #009ced;
    }

    .customer-account-login, .customer-account-create {
	background-color: #f8f8f8;
    }
    .customer-account-login .logo, .customer-account-create .logo {
	width: 230px;
	display: table;
	margin: 0 auto 20px;
    }
    .customer-account-login .block, .customer-account-create .block {
	display: table;
	margin: 0 auto;
    }
    .customer-account-login .block .account-login.box, .customer-account-create .block .account-login.box {
	background-color: #FFFFFF;
	padding: 35px 20px;
	border: 1px solid #efefef;
	border-radius: 5px;
	margin-bottom: 15px;
	-webkit-box-shadow: 0px 1px 1px 1px #eaeaea;
	box-shadow: 0px 1px 1px 1px #eaeaea;
	max-width: 350px;
    }
    .customer-account-login .block .account-login.box .page-title, .customer-account-create .block .account-login.box .page-title {
	margin: 0px 0px 20px;
    }
    .customer-account-login .block .account-login.box .page-title h1, .customer-account-create .block .account-login.box .page-title h1 {
	font-family: "Arial";
	font-size: 15px;
	color: #00858C;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 120%;
	text-align: center;
	margin: 0px;
    }
    .customer-account-login .block .account-login.box form, .customer-account-create .block .account-login.box form {
	display: table;
    }
    .customer-account-login .block .account-login.box .ced-sociallogin-login, .customer-account-create .block .account-login.box .ced-sociallogin-login {
	margin: 0px;
    }
    .customer-account-login .block .account-login.box p, .customer-account-create .block .account-login.box p {
	font-family: "Arial";
	font-size: 15px;
	color: #cccccc;
	line-height: 120%;
	text-align: center;
	font-style: italic;
	margin: 25px 0px;
    }
    .customer-account-login .block .account-login.box label, .customer-account-create .block .account-login.box label {
	font-family: "Arial";
	font-size: 14px;
	color: #777777;
	line-height: 120%;
    }
    .customer-account-login .block .account-login.box .input-text, .customer-account-create .block .account-login.box .input-text {
	width: 100%;
	border-radius: 3px;
	margin-bottom: 15px;
    }
    .customer-account-login .block .account-login.box .lost-password, .customer-account-create .block .account-login.box .lost-password {
	font-family: "Arial";
	font-size: 12px;
	color: #777777;
	font-weight: 100;
	line-height: 120%;
	float: right;
    }
    .customer-account-login .block .account-login.box .lost-password:hover, .customer-account-create .block .account-login.box .lost-password:hover {
	text-decoration: underline;
    }
    .customer-account-login .block .account-login.box .form-list li, .customer-account-create .block .account-login.box .form-list li {
	margin: 0px;
    }
    .customer-account-login .block .account-login.box .btn-submit, .customer-account-create .block .account-login.box .btn-submit {
	display: table;
	width: 200px;
	margin: 0 auto;
	padding: 13px 0px;
	background-color: #1DB4BB;
	font-family: "Arial";
	font-size: 12px;
	color: #FFFFFF;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 120%;
	border-radius: 5px;
	-webkit-box-shadow: 0px -2px 0px 0px #15858a inset;
	box-shadow: 0px -2px 0px 0px #15858a inset;
    }
    .customer-account-login .block .account-login.box .registered-users, .customer-account-create .block .account-login.box .registered-users {
	margin: 0px;
    }
    .customer-account-login .block .account-login.box p.required, .customer-account-create .block .account-login.box p.required {
	margin: 0px;
	text-align: right;
	font-size: 12px;
	position: relative;
	top: 20px;
    }
    .customer-account-login .block .new-users, .customer-account-create .block .new-users {
	padding: 0px 5px;
	margin: 0px 0px 50px;
    }
    .customer-account-login .block .new-users p, .customer-account-create .block .new-users p {
	float: left;
	font-family: "Arial";
	font-size: 14px;
	color: #777777;
	line-height: 120%;
	margin: 13px 0px;
    }
    .customer-account-login .block .new-users .btn-new, .customer-account-create .block .new-users .btn-new {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #03747A;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 120%;
	border: 2px solid #03747A;
	border-radius: 8px;
	padding: 11px;
	float: right;
    }
    .customer-account-login .footer, .customer-account-create .footer {
	background-color: #f4f4f4;
	padding: 30px 0px;
	color: #999999;
    }
    .customer-account-login .footer a, .customer-account-create .footer a {
	font-family: "Arial";
	font-size: 13px;
	color: #999999;
	line-height: 120%;
    }

    .products-grid .product-image-wrapper {
	height: 350px;
	display: table;
	overflow: hidden;
    }

    .products-grid .product-image {
	display: table-cell;
	vertical-align: middle;
    }
}
@media (min-width: 768px) {
    .col3-set .column {
	width: 49%;
    }

    .mini-cart .icon {
	float: left;
    }
    .mini-cart .icon .count {
	top: 7px;
    }
    .mini-cart .label {
	float: left;
	padding: 17px 0px;
    }

    #block-news .input-box {
	margin-right: 15px;
    }

    .product-view .price-box .old-price {
	margin-right: 10px;
	margin-top: 20px;
    }
    .product-view .price-box .old-price .price {
	font-size: 20px !important;
    }
    .product-view .price-box .special-price .price {
	font-size: 32px !important;
    }
    .product-view .add-to-links li {
	width: 29.9%;
	margin: 0px;
	padding: 0px 5px;
    }

    .checkout-cart-index {
	/*.col-2{width: %;}*/
	/*.col-6{width: %;}*/
    }
    .checkout-cart-index .col-1 {
	width: 14%;
    }
    .checkout-cart-index .col-3 {
	width: 20%;
    }
    .checkout-cart-index .page-title .title {
	float: left;
    }
    .checkout-cart-index .page-title .checkout-types.top {
	float: right;
	margin-top: 4px;
    }
    .checkout-cart-index .page-title .checkout-types.top .btn-continue, .checkout-cart-index .page-title .checkout-types.top .btn-checkout {
	display: block;
	margin: 0px;
    }
    .checkout-cart-index .page-title .checkout-types.top .btn-continue {
	-webkit-transition: ease all 300ms;
	-o-transition: ease all 300ms;
	transition: ease all 300ms;
	background-color: transparent;
	font-size: 13px;
	text-decoration: underline;
	padding: 10px;
	border: 0px;
	color: #000000;
	text-transform: initial;
	font-weight: 400;
    }
    .checkout-cart-index .page-title .checkout-types.top .btn-continue:hover {
	-webkit-transition: ease all 300ms;
	-o-transition: ease all 300ms;
	transition: ease all 300ms;
	background-color: transparent !important;
	color: #2BB4BA !important;
    }
    .checkout-cart-index .page-title .checkout-types.top .btn-checkout {
	width: 225px;
    }
    .checkout-cart-index .page-title .custom-block {
	display: table;
	width: 100%;
    }
    .checkout-cart-index .page-title .custom-block .header-cart {
	display: table;
	margin: 0 auto;
    }
    .checkout-cart-index .page-title .custom-block .header-cart li {
	float: left;
    }
    .checkout-cart-index .col-unit-price {
	position: relative;
    }
    .checkout-cart-index .col-unit-price .prices {
	position: absolute;
	top: 0px;
	bottom: 0px;
	border-left: 1px solid #cccccc;
	padding-left: 10px;
    }
    .checkout-cart-index .cart-totals {
	float: right;
    }
    .checkout-cart-index #discount-coupon-form {
	float: right;
    }

    .contacts li {
	margin-right: 50px;
    }
    .contacts li .icon {
	width: 33px;
    }
    .contacts li .text {
	width: auto;
    }

    .modal.modal-message .modal-dialog {
	width: 650px;
    }
    .modal.modal-message .modal-dialog .modal-content {
	display: table;
    }
    .modal.modal-message .modal-dialog .image {
	float: left;
	width: 40%;
    }
    .modal.modal-message .modal-dialog .content {
	float: left;
	width: 60%;
	/*padding-left: 5%;*/
    }
    .modal.modal-message .modal-dialog .content .product-name {
	margin: 30px 0px;
	text-align: left;
	padding-left: 30px;
    }
    .modal.modal-message .modal-dialog .content .btn-checkout {
	margin: 15px 0px 0px 30px;
    }
    .modal.modal-message .modal-dialog .content .btn-continue {
	margin: 15px 0px 0px 30px;
    }
}
@media (min-width: 992px) {
    .col3-set .column {
	width: 32%;
    }

    .nav-container {
	background-color: #0C656B;
    }
    .nav-container .nav-regular:not(.nav-vert) .nav-item.level0 > a {
	color: #FFFFFF;
    }
    .nav-container .nav-regular:not(.nav-vert) .nav-item.level0 > a:hover {
	background-color: #0d6e74;
    }

    #search_mini_form {
	margin: 32px 0px;
    }

    .header-primary-container {
	padding: 0px;
    }
    .header-primary-container .header-primary {
	padding: 0px;
    }
    .header-primary-container .hp-block.left-column {
	max-width: 195px;
	width: 100%;
	margin: 0px 10px 0px 0px;
	float: left;
	display: block;
    }
    .header-primary-container .hp-block.left-column .item {
	margin: 0px;
    }
    .header-primary-container .hp-block.left-column .item .logo {
	max-width: none;
    }
    .header-primary-container .hp-block.central-column {
	max-width: 350px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	float: left;
	display: block;
    }
    .header-primary-container .hp-block.central-column .item {
	width: 100%;
    }
    .header-primary-container .hp-block.right-column {
	max-width: 375px;
	width: 100%;
	margin: 0px 0px 0px 10px;
	float: left;
	display: block;
    }
    .header-primary-container .hp-block.right-column .item {
	margin-right: 0px;
    }

    .user-menu {
	margin: 32px 0px;
    }

    .top-links .links a {
	background-image: none;
	font-size: 16px !important;
	font-weight: 700;
    }
    .top-links .links a.my-account {
	position: relative;
	top: -11px;
	padding: 7px;
	line-height: normal;
    }
    .top-links .links a.my-account .small {
	font-size: 12px;
	font-weight: 400;
	line-height: normal;
	display: block;
	margin: 0px;
    }
    .top-links .links .parent {
	position: relative;
    }
    .top-links .links .parent:hover .nav-panel--dropdown {
	display: block;
    }
    .top-links .nav-panel--dropdown {
	display: none;
	position: absolute;
	z-index: 1000;
	background-color: #FFFFFF;
	width: 100%;
	margin-top: -12px;
	padding: 0px;
    }
    .top-links .nav-panel--dropdown a {
	-webkit-transition: ease all 300ms;
	-o-transition: ease all 300ms;
	transition: ease all 300ms;
	display: block;
    }
    .top-links .nav-panel--dropdown a:hover {
	-webkit-transition: ease all 300ms;
	-o-transition: ease all 300ms;
	transition: ease all 300ms;
	background-color: #00898F;
	color: #FFFFFF;
    }
    .top-links #my-account {
	width: 130%;
	left: -10px;
    }
    .top-links #my-account a {
	padding: 10px 15px;
	line-height: normal;
    }

    .mini-cart .icon {
	top: 0px;
    }
    .mini-cart .icon .count {
	top: 7px;
    }
    .mini-cart .label {
	padding: 0px 0px;
	font-weight: 700;
	font-size: 14px;
    }

    #block-news #subscribe-form {
	display: table;
	margin: 0 auto;
	padding: 10px 0px;
    }
    #block-news .beleza-vip {
	float: left;
	margin: 21px 0px;
	margin-right: 50px;
    }
    #block-news .form-news {
	float: left;
	margin: 0px 0px;
    }
    #block-news .title-news {
	margin: 0px 0px 5px 0px;
	text-align: left;
	font-size: 15px;
    }
    #block-news .input-box {
	margin: 0px;
	margin-right: 5px;
    }
    #block-news .button {
	margin: 0px;
	margin-left: 10px;
    }
    #block-news .notice-news {
	text-align: left;
	margin: 5px 0px 0px 0px;
	font-size: 10px;
    }
    #block-news .notice-news a {
	font-size: 10px;
    }

    .product-view .price-box .old-price {
	margin-right: 30px;
	margin-top: 20px;
    }
    .product-view .price-box .old-price .price {
	font-size: 20px !important;
    }
    .product-view .price-box .special-price .price {
	font-size: 40px !important;
    }
    .product-view .add-to-cart .btn-cart {
	font-size: 27px;
	line-height: normal;
	padding: 12px 15px;
    }
    .product-view .add-to-links li {
	width: 33.3%;
	margin: 0px;
	padding: 0px 0px;
    }
    .product-view .add-to-links li .ic {
	float: left;
    }

    .checkout-cart-index .page-title .checkout-types.top .btn-checkout {
	width: 294px;
    }
    .checkout-cart-index .page-title .custom-block {
	float: right;
	width: auto;
    }
    .checkout-cart-index .cart-collaterals .shipping .sp-methods {
	background-color: #e2e2e2;
	padding: 15px;
	margin-bottom: 15px;
    }
    .checkout-cart-index .cart-collaterals .shipping .sp-methods .price {
	display: initial;
    }
}
@media (min-width: 1200px) {
    .header-top-container {
	background-color: transparent;
    }
    .header-top-container img {
	display: table;
	margin: 0 auto;
    }

    .header-primary-container .hp-block.left-column {
	margin: 0px 30px 0px 0px;
    }
    .header-primary-container .hp-block.central-column {
	max-width: 430px;
	margin: 0px 30px 0px 0px;
    }
    .header-primary-container .hp-block.right-column {
	max-width: 435px;
    }

    .user-menu {
	margin: 32px 15px;
    }

    .top-links .links a {
	font-size: 18px !important;
	padding: 0px 15px;
    }
    .top-links .links a.my-account {
	top: -12px;
	padding: 7px;
    }
    .top-links .links a.my-account .small {
	font-size: 12px;
    }

    .mini-cart .label {
	font-size: 16px;
    }

    .product-view .add-to-links li {
	width: 31.1%;
	margin: 0px;
	padding: 0px 5px;
    }

    .checkout-cart-index .page-title .checkout-types.top .btn-checkout {
	width: 357px;
    }
}

.pagseguro-payment-default table td{
    font-size: 2.2rem;
    padding: 30px !important;
}

.pagseguro-payment-default table td a{
    color: #00898f;
    font-weight: 800;
    text-decoration: underline;
}