@media (min-width: $screen-xs-min ) {
  .pull-xs-left{
    float: left;
  }
  .pull-xs-right{
    float: right;
  }
}
@media (min-width: $screen-sm-min)  {
  .pull-sm-left{
    float: left;
  }
  .pull-sm-right{
    float: right;
  }
}
@media (min-width: $screen-md-min)  {
  .pull-md-left{
    float: left;
  }
  .pull-md-right{
    float: right;
  }
}
@media (min-width: $screen-lg-min) {
  .pull-lg-left{
    float: left;
  }
  .pull-lg-right{
    float: right;
  }
}