@media (min-width: $screen-xs-min) {
  .header-top-container{
    img{
      display: table;
      margin: 0 auto;
    }
  }
}
@media (min-width: $screen-sm-min) {
  
}
@media (min-width: $screen-md-min) {
  
}
@media (min-width: $screen-lg-min) {
  
}