<?php
/**
 *
 * @category   Inovarti
 * @package    Inovarti_Onestepcheckout
 * @author     Suporte <suporte@inovarti.com.br>
 */
?><?php $_item = $this->getItem() ?>
<tr>
  <?php if (Mage::helper('onestepcheckout/config')->getIsCartEditable()): ?>
    <td><a href="<?php echo $this->getDeleteUrl() ?>" title="<?php echo $this->__('Remove item') ?>" class="btn-remove2"><?php echo $this->__('Remove item') ?></a></td>
  <?php endif; ?>
  <td class="a-center lc-thumbnails">
    <a href="<?php echo $this->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getProductName()) ?>">
      <img src="<?php echo $this->getProductThumbnail()->resize(80, 80); ?>" width="80" height="80" alt="<?php echo $this->htmlEscape($this->getProductName()) ?>" />
    </a>
  </td>					
  <td class="product-details">
    <h3 class="product-name"><?php echo $this->htmlEscape($this->getProductName()) ?></h3>
    <?php
    $product = Mage::getModel('catalog/product')->load($_item->getProductId());
    echo '<p class="text-gray">' . $product->getShortDescription() . '</p>';
    ?>
    <?php if ($_options = $this->getOptionList()): ?>
      <dl class="item-options clearfix">
	<?php foreach ($_options as $_option) : ?>
	  <?php $_formatedOptionValue = $this->getFormatedOptionValue($_option) ?>
          <dt><?php echo $this->htmlEscape($_option['label']) ?></dt>
          <dd<?php if (isset($_formatedOptionValue['full_view'])): ?> class="truncated"<?php endif; ?>><?php echo $_formatedOptionValue['value'] ?>
	    <?php if (isset($_formatedOptionValue['full_view'])): ?>
      	<div class="truncated_full_value">
      	  <dl class="item-options">
      	    <dt><?php echo $this->htmlEscape($_option['label']) ?></dt>
      	    <dd><?php echo $_formatedOptionValue['full_view'] ?></dd>
      	  </dl>
      	</div>
	    <?php endif; ?>
          </dd>
	<?php endforeach; ?>
      </dl>
    <?php endif; ?>
    <?php if ($addtInfoBlock = $this->getProductAdditionalInformationBlock()): ?>
      <?php echo $addtInfoBlock->setItem($_item)->toHtml() ?>
    <?php endif; ?>
    <p><?php echo $_item->getQty() ?>item(s)</p>
  </td>
  <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
    <td class="a-right product-price">
      <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
        <span class="cart-tax-total" onclick="taxToggle('esubtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
	<?php else: ?>
          <span class="cart-price">
	  <?php endif; ?>
	  <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
	    <?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal() + $_item->getWeeeTaxAppliedRowAmount() + $_item->getWeeeTaxRowDisposition()); ?>
	  <?php else: ?>
	    <?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal()) ?>
	  <?php endif; ?>
        </span>
	<?php if (Mage::helper('weee')->getApplied($_item)): ?>
          <div class="cart-tax-info" id="esubtotal-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
	    <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
      	<small>
		<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
		  <span class="nobr"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount'], true, true); ?></span><br />
		<?php endforeach; ?>
      	</small>
	    <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
	      <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
		<span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'], true, true); ?></small></span><br />
	      <?php endforeach; ?>
	    <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
      	<small>
		<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
		  <span class="nobr"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'], true, true); ?></span><br />
		<?php endforeach; ?>
      	</small>
	    <?php endif; ?>
          </div>
	  <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
            <div class="cart-tax-total" onclick="taxToggle('esubtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
      	<span class="nobr"><?php echo Mage::helper('weee')->__('Total'); ?>:<br /> <?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal() + $_item->getWeeeTaxAppliedRowAmount() + $_item->getWeeeTaxRowDisposition()); ?></span>
            </div>
	  <?php endif; ?>
	<?php endif; ?>
    </td>
  <?php endif; ?>
  <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
    <td>
      <?php $_incl = $this->helper('checkout')->getSubtotalInclTax($_item); ?>
      <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
        <span class="cart-tax-total" onclick="taxToggle('subtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
	<?php else: ?>
          <span class="cart-price">
	  <?php endif; ?>
	  <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
	    <?php echo $this->helper('checkout')->formatPrice($_incl + $_item->getWeeeTaxAppliedRowAmount()); ?>
	  <?php else: ?>
	    <?php echo $this->helper('checkout')->formatPrice($_incl - $_item->getWeeeTaxRowDisposition()) ?>
	  <?php endif; ?>
        </span>
	<?php if (Mage::helper('weee')->getApplied($_item)): ?>
          <div class="cart-tax-info" id="subtotal-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
	    <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
      	<small>
		<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
		  <span class="nobr"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount'], true, true); ?></span><br />
		<?php endforeach; ?>
      	</small>
	    <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
	      <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
		<span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'], true, true); ?></small></span><br />
	      <?php endforeach; ?>
	    <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
      	<small>
		<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
		  <span class="nobr"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'], true, true); ?></span><br />
		<?php endforeach; ?>
      	</small>
	    <?php endif; ?>
          </div>
	  <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
            <div class="cart-tax-total" onclick="taxToggle('subtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
      	<span class="nobr"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>:<br /> <?php echo $this->helper('checkout')->formatPrice($_incl + $_item->getWeeeTaxAppliedRowAmount()); ?></span>
            </div>
	  <?php endif; ?>
	<?php endif; ?>
    </td>
  <?php endif; ?>
</tr>
