<?php
/**
 * Featured Products Slider
 */
?>

<?php
$category = new Mage_Catalog_Model_Category();
$category->load($this->getCategoryId());
$_productCollection = $category->getProductCollection();
$_productCollection->addAttributeToSelect('*');
//$_productCollection->getSelect()->order('RAND()');
$_productCollection->getSelect()->limit($this->getLimit());
?>
<?php if ($_productCollection && ($_collectionSize = $this->getCollectionCount())): ?>
  <?php
  $_helper = $this->helper('catalog/output');
  $theme = $this->helper('ultimo');
  $helpLabels = $this->helper('ultimo/labels');
  $helpTemplate = $this->helper('ultimo/template');
  $helpImg = $this->helper('infortis/image');

  //Image size
  $imgWidth = intval($theme->getCfg('category/image_width'));
  $imgHeight = $imgWidth;

  //If image width is not specified, use default values
  if ($imgWidth <= 0) {
    $imgWidth = 295;
    $imgHeight = 295;
  }

  //Image aspect ratio settings
  $keepAspectRatio = $theme->getCfg('category/aspect_ratio');
  if ($keepAspectRatio) {
    $imgHeight = 0; //Height will be calculated automatically (based on width) to keep the aspect ratio
    $catViewKeepFrame = FALSE;
  } else {
    $catViewKeepFrame = TRUE;
  }

  if (Mage::registry('catViewKeepFrame') === NULL) {
    Mage::register('catViewKeepFrame', $catViewKeepFrame);
  }
  ?>
  <strong class="section-title padding-right"><?php echo $this->getBlockName(); ?></strong>
  <?php
  //Get grid configuration array
  $gc = $theme->getCfgGroup('category_grid');

  //Get number of columns (from parameter or from theme config)
  $columnCount = 3;
  if ($this->getGridColumnCount()) {
    $columnCount = $this->getGridColumnCount();
  } else {
    $columnCount = $gc['column_count'];
  }

  //Grid classes
  $gridClasses = '';
  $productNameClasses = '';
  if ($gc['display_name'] == 2 && $gc['display_name_single_line'] == true)
    $gridClasses .= ' single-line-name';
  if ($gc['display_name'] == 1)
    $productNameClasses .= ' display-onhover';
  if ($gc['centered'])
    $gridClasses .= ' centered';
  if ($gc['hover_effect'])
    $gridClasses .= ' hover-effect';
  if ($gc['equal_height'])
    $gridClasses .= ' equal-height';

  //Size of grid elements
  if ($gc['elements_size']) {
    $gridClasses .= ' size-' . $gc['elements_size'];
  } else {
    //Calculate size based on number of columns
    if ($columnCount >= 6) {
      $gridClasses .= ' size-xs';
    } elseif ($columnCount >= 4) {
      $gridClasses .= ' size-s';
    }
  }

  //Container "actions" at the bottom of the grid item stores button and add-to links
  //If at least one of those elements was set as "Display on hover" but no element was set as "Display":
  //apply appropriate classes to the container.
  $actionsClasses = '';
  if ($gc['display_addtocart'] == 1 || ($gc['display_addtolinks'] == 1 && !$gc['addtolinks_simple'])) {
    $actionsClasses = ' display-onhover';
  }
  if ($gc['display_addtocart'] == 2 || ($gc['display_addtolinks'] == 2 && !$gc['addtolinks_simple'])) {
    $actionsClasses = '';
  }
  ?>

  <ul class="products-grid category-products-grid itemgrid itemgrid-adaptive itemgrid-<?php echo $columnCount; ?>col<?php if ($gridClasses) echo $gridClasses; ?>">
    <?php foreach ($_productCollection as $_product): ?>
      <li class="item">

        <div class="product-image-wrapper" style="max-width:<?php echo $imgWidth; ?>px;">

          <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true); ?>" class="product-image">
    	<img id="product-collection-image-<?php echo $_product->getId(); ?>"
    	     src="<?php echo $helpImg->getImg($_product, $imgWidth, $imgHeight, 'small_image'); ?>"
    	     alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true); ?>" />

	    <?php if ($theme->getCfg('category/alt_image')): ?>
	      <?php echo $theme->getAltImgHtml($_product, $imgWidth, $imgHeight); ?>   
	    <?php endif; ?>

	    <?php echo $helpLabels->getLabels($_product); //Product labels ?>
          </a>

	  <?php
	  //Add-to links
	  if ($gc['display_addtolinks'] != 0 && $gc['addtolinks_simple']) {
	    if ($gc['display_addtolinks'] == 1) //Display on hover
	      echo $helpTemplate->getCategoryAddtoLinksIcons($_product, $this->getAddToCompareUrl($_product), 'addto-links-icons addto-onimage display-onhover');
	    else //Always display
	      echo $helpTemplate->getCategoryAddtoLinksIcons($_product, $this->getAddToCompareUrl($_product), 'addto-links-icons addto-onimage');
	  }
	  ?>

        </div> <!-- end: product-image-wrapper -->

	<?php if ($gc['display_name'] != 0): ?>
          <h2 class="product-name<?php echo $productNameClasses; ?>"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
	<?php endif; ?>
        <!--short description-->
	<?php
	if (!empty($_product->getShortDescription())) {
	  $texto = strip_tags($_product->getShortDescription());
	  $texto = trim($texto);
	  $texto = explode(' ', $texto, 15);

	  if (count($texto) >= $limite) {
	    array_pop($texto);
	    $texto = implode(' ', $texto) . '...';
	  } else {
	    $texto = implode(' ', $texto);
	  }
	}
	?>
        <h3 class="product-short-description"><?= $texto; ?></h3>
	<?php
	//Provides extra blocks on which to hang some features for products in the list
	//Features providing UI elements targeting this block will display directly below the product name
	//echo 'a: ' . $this->getChildHtml('name.after'); //TEST
	//echo 'b: ' . $this->getChildHtml('reg2'); //TEST

	if ($this->getChild('name.after')) {
	  $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
	  foreach ($_nameAfterChildren as $_nameAfterChildName) {
	    $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
	    $_nameAfterChild->setProduct($_product);
	    echo $_nameAfterChild->toHtml();
	  }
	}
	?>

	<?php // if ($_product->getRatingSummary()): ?>
	<?php if ($gc['display_rating'] == 1): //Display on hover  ?>
          <div class="display-onhover ratings-wrapper"><?php echo $this->getReviewsSummaryHtml($_product, 'short') ?></div>
	<?php elseif ($gc['display_rating'] == 2): //Always display ?>
	  <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
	<?php endif; ?>
	<?php // endif; ?>

	<?php if ($gc['display_price'] == 1): //Display on hover ?>
          <div class="display-onhover"><?php echo $this->getPriceHtml($_product, true); ?></div>
	<?php elseif ($gc['display_price'] == 2): //Always display ?>
	  <?php echo $this->getPriceHtml($_product, true); ?>
	<?php endif; ?>

	<?php
	//If at least one element was set as "Display on hover" but no element was set as "Display":
	//aggregate classes from those elements and apply them to the "actions" container.
	$actionsClasses = '';
	if ($gc['display_addtocart'] == 1 || ($gc['display_addtolinks'] == 1 && !$gc['addtolinks_simple'])) {
	  $actionsClasses = ' display-onhover';
	}
	if ($gc['display_addtocart'] == 2 || ($gc['display_addtolinks'] == 2 && !$gc['addtolinks_simple'])) {
	  $actionsClasses = '';
	}
	?>

        <div class="actions clearer<?php echo $actionsClasses; ?>">

	  <?php if ($gc['display_addtocart'] != 0): //Cart button  ?>

	    <?php if (!$_product->canConfigure() && $_product->isSaleable()): ?>

	      <form action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form_<?php echo $_product->getId() ?>"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
		<div class="qty-wrapper clearfix">
		  <input type="text" name="qty" class="qty" min="1" maxlength="12" value="<?php echo ($this->getMinimalQty($_product) ? $this->getMinimalQty($_product) : 1); ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Qty')) ?>" class="input-text qty" />
		  <span class="buttons clearfix">
		    <button type="button" class="btn btn-up"><span class="sr-only">Aumentar</span><i class="fa fa-plus" aria-hidden="true"></i></button>
		    <button type="button" class="btn btn-down"><span class="sr-only">Diminuir</span><i class="fa fa-minus" aria-hidden="true"></i></button>
		  </span>
		</div>
		<!--<input type="text" name="qty" id="qty" maxlength="12" value="<?php // echo ($this->getMinimalQty($_product) ? $this->getMinimalQty($_product) : 1)         ?>" />-->
		<!--<button type="button" onclick="this.form.submit()" class="button btn-cart"><?php echo $this->__('Comprar') ?><span></span> <i class="fa fa-shopping-bag" aria-hidden="true"></i></button>-->
		<button type="submit" class="button btn-cart"><?php echo $this->__('Comprar') ?><span></span> <i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
	      </form>
	      <!--	      <div class="qty-wrapper clearfix">
			      <input type="text" name="qty" class="qty" min="1" maxlength="12" value="<?php echo $this->getProductDefaultQty() * 1 ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Qty')) ?>" class="input-text qty" />
			      <span class="buttons clearfix">
				<button class="btn btn-up"><span class="sr-only">Aumentar</span><i class="fa fa-plus" aria-hidden="true"></i></button>
				<button class="btn btn-down"><span class="sr-only">Diminuir</span><i class="fa fa-minus" aria-hidden="true"></i></button>
			      </span>
			    </div>-->
	      <!--<button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><?php echo $this->__('Comprar') ?><span></span> <i class="fa fa-shopping-bag" aria-hidden="true"></i></button>-->
	    <?php elseif ($_product->getStockItem() && $_product->getStockItem()->getIsInStock()): ?>
	      <a title="<?php echo $this->__('View Details') ?>" class="button btn-cart" href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View Details') ?></a>
	    <?php else: ?>
	      <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
		<?php endif; ?>

	  <?php endif; ?>

	  <?php
	  //Add-to links
	  if ($gc['display_addtolinks'] != 0 && !$gc['addtolinks_simple']) {
	    echo $helpTemplate->getCategoryAddtoLinks($_product, $this->getAddToCompareUrl($_product), 'addto-gaps-right');
	  }
	  ?>
        </div> <!-- end: actions -->
      </li>
    <?php endforeach; ?>    
  </ul>
<?php endif; ?>
