@media (min-width: $screen-xs-min) {
  .header-top-container{
    background-color: transparent;
    img{
      display: table;
      margin: 0 auto;
    }
  }
}
@media (min-width: $screen-sm-min) {

}
@media (min-width: $screen-md-min) {
  .header-primary-container{
    @include transition(ease all 300ms);
    padding: 0px;
    .hp-block{
      &.left-column{
	max-width: 195px;
	.item{
	  margin: 0px;
	}
      }
    }
  }
}
@media (min-width: $screen-lg-min) {
  .header-top-container{
    background-color: transparent;
    img{
      display: table;
      margin: 0 auto;
    }
  }

}