<?php
$collection = $this->getCollection();
$isUseJavascript = Mage::helper('faq')->getUseJavascript();
$faqCategory = $this->getFaqCategory();
?>
<div class="faq-content">
  <h2 class="subtitle"><?php echo $faqCategory->getCategoryName(); ?></h2>
  <?php if (count($collection)) : ?>

    <ul id="accordion">
      <?php foreach ($collection as $question) { ?>
        <li>
          <a data-toggle="collapse" data-parent="#accordion" href="#answer-<?= $question['faq_id']; ?>" class="toggle-accordion"><?= $question['question']; ?><i class="fa fa-angle-down" aria-hidden="true"></i></a>
          <div id="answer-<?= $question['faq_id']; ?>" class="collapse" style="display: none;"><?= $question['answer']; ?></div>
        </li>
      <?php } ?>
    </ul>
    <script type="text/javascript">
      jQuery(document).ready(function ($) {
        $('a[data-toggle="collapse"]').click(function () {
  	$('#accordion .collapse').not($(this).attr('href')).slideUp();
  	$($(this).attr('href')).slideToggle();
  	$('.toggle-accordion').not($(this)).removeClass('opened').find('.fa').removeClass('fa-angle-up').addClass('fa-angle-down');
  	$(this).toggleClass('opened').find('.fa').toggleClass('fa-angle-down').toggleClass('fa-angle-up');

  	return false;
        });
      });
    </script>
  <?php else: ?>
    <p class="note-msg"><?php echo $this->__('There are no FAQs matching the selection.') ?></p>
  <?php endif ?>
</div>