<div class="faq-content clearfix">
  <div class="description">
    <h2 class="subtitle">Dúvidas Frequentes</h2>
    <?php
    $questions = $this->getFaqsDataFrequently(0);
    $questions = $questions->getData();
//    var_dump($questions);
    ?>
    <?php if (count($questions) > 0) { ?>
      <ul id="accordion">
	<?php foreach ($questions as $question) { ?>
          <li>
    	<a data-toggle="collapse" data-parent="#accordion" href="#answer-<?= $question['faq_id']; ?>" class="toggle-accordion"><?= $question['question']; ?><i class="fa fa-angle-down" aria-hidden="true"></i></a>
    	<div id="answer-<?= $question['faq_id']; ?>" class="collapse" style="display: none;"><?= $question['answer']; ?></div>
          </li>
	<?php } ?>
      </ul>
    <?php } ?>
  </div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function ($) {
    $('a[data-toggle="collapse"]').click(function () {
      $('#accordion .collapse').not($(this).attr('href')).slideUp();
      $($(this).attr('href')).slideToggle();
      $('.toggle-accordion').not($(this)).removeClass('opened').find('.fa').removeClass('fa-angle-up').addClass('fa-angle-down');
      $(this).toggleClass('opened').find('.fa').toggleClass('fa-angle-down').toggleClass('fa-angle-up');
      
      return false;
    });
  });
</script>