<?php
/**
 *
 * @category   Inovarti
 * @package    Inovarti_Onestepcheckout
 * @author     Suporte <suporte@inovarti.com.br>
 */
?>
<?php if ($this->getTotals()): ?>
  <table class="totals">
    <?php $_colspan = (Mage::helper('onestepcheckout/config')->getIsCartEditable() ? 4 : 3); ?>
    <?php echo $this->renderTotals(null, $_colspan); ?>
    <?php echo $this->renderTotals('footer', $_colspan); ?>
    <?php if ($this->needDisplayBaseGrandtotal()): ?>
      <tr>
        <td class="a-right" colspan="2<?php // echo $_colspan; ?>">
          <small><?php echo $this->helper('sales')->__('Your credit card will be charged for') ?></small>
        </td>
        <td class="a-right">
          <small><?php echo $this->displayBaseGrandtotal() ?></small>
        </td>
      </tr>
    <?php endif ?>
  </table>
<?php endif; ?>
